[2019-04-28 12:25] prclibo opened #1 "What's the release plan"
Hi this is a useful repo. Thanks for the work. I am copying some source code for geometric transformation in my project. Is there any plan on a formal release so I can better integrate the whole library?

[2019-04-28 17:54] julienvalentin commented on #1
Hi!

The library will be publicly released the 7th of May, and will include a pip package.

Best.

[2019-04-30 05:57] #1 closed

[2019-05-10 06:07] jackd opened #2 "Convolutions/poolings duplicate `tf.RaggedTensor` functionality?"
First and foremost, thanks for the awesome package all.

I've been doing separate work on tf graph convolutions and it strikes me that a lot of the functionality in the convolutions/pooling is geared towards dealing with neighborhoods of irregular size. Isn't this essentially what `tf.RaggedTensor`s are intended to manage?

Spefically, couldn't functions with a `sizes` argument take a potentially

[2019-05-10 09:21] dgriffiths3 opened #3 "'tensorboard.summary._tf.summary' has no attribute 'tensor_summary'"
Just trying a basic example of the 3D tensorboard for a point cloud.

tensorflow == 2.0.0-alpha0
tensorboard == 1.14.0a20190509 (tb-nightly)
python == 3.7.3
os == MacOS 10.14.4

Code to recreate:

[code]

Error:

[code]

Do I need a specific version of tensorboard for this?

[2019-05-10 13:27] Dawars opened #4 "Jupyter Notebook name '_publish' is not defined"
The example colab (https://colab.research.google.com/github/tensorflow/graphics/blob/master/tensorflow_graphics/notebooks/mesh_segmentation_demo.ipynb) breaks in a local tensorboard installation.

Because of this line:
https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/notebooks/threejs_visualization.py#L25

[code]

I installed the packages by running :
[code]
On an Ubuntu18.04

[2019-05-10 13:59] Dawars commented on #4
[code]
I found this warning and I followed the instructions.
There are no instruction regarding the installation of colabtools.
This repo also seems to be outdated: https://github.com/googlecolab/colabtools

[2019-05-10 17:40] podlipensky commented on #3
Yes, you need to install tb-nightly which may require tf-nightly. So the best way is to get rid of tensorflow and install tf-nightly (which contains tb-nightly). See our colab for exact instructions: https://github.com/tensorflow/tensorboard/blob/master/tensorboard/plugins/mesh/Mesh_Plugin_Tensorboard.ipynb

[2019-05-10 18:37] dgriffiths3 commented on #3
I've installed `tb-nightly` but this doesn't work with `tensorflow== 2.0.0-alpha0`. `tf-nightly` is version `1.14`, so will this not work with `2.X`?

[2019-05-10 19:59] podlipensky commented on #3
We do not support TF2 just yet.

[2019-05-10 20:09] #3 closed

[2019-05-15 00:35] julienvalentin commented on #4
Hi David,

Unfortunately colabtools is not compatible with Jupyter at this time, and it does not seem that this is something the maintainers have on their agenda for now. If you wish to visualize 3D things, I would recommend to have a look at our 3D TensorBoard. One internal contributor is looking at removing the renderer currently used in the Colab demos and which depends on colabtools. The aim i

[2019-05-15 01:31] betairylia opened #8 "Version issue about tensorboard graphics"
Sorry for this question. Could you clarify the installation steps and versions to use the tensorboard extension with mesh and point clouds?

I installed tf-nightly and tb-nightly with anaconda3, python 3.6.7, cuda10.0, Ubuntu 18.04.
However, the compiled webfiles.zip in tensorboard root seems different from the html and js files in this repo. If I use installed tb-nightly to render point clouds, t

[2019-05-15 13:48] jimbojetlag opened #9 "Is the aim of Tensorflow Graphics to implement 3D reconstruction methods, or is it just a collection of tools?"
The impression I got from your presentation was that this is a library that implements 3D reconstruction from 2D image approaches. But after looking at the source code, and some future features in readme, it seems like this is going to be a collection of tools.

Could you clarify the roadmap for the library? If you are indeed going to implement 3D reconstruction methods, given that this field is s

[2019-05-15 16:20] podlipensky commented on #8
Try to install JUST tf-nightly, it should contain proper version of tb-nightly

[2019-05-16 00:01] Epsilon1024 opened #10 "Graph Convolutions"
When using the feature_steered_convolution_layer, as part of a session, I will get the following error:

"ValueError: The initializer passed is not valid. It should be a callable with no arguments and the shape should not be provided or an instance of `tf.keras.initializers.*' and `shape` should be fully defined."

As far as I can tell, the only examples in the documentation that use this function

[2019-05-16 01:20] ioga opened #11 "Rasterizer implementation"
Are there any plans to implement a rasterizer which can differentiably render a triangular mesh to an image, similar to https://github.com/google/tf_mesh_renderer or https://github.com/pmh47/dirt?

As far as I can see today, "Reflectance" and "Spherical Harmonics Approximation" colab demos implement what is basically a ray tracer, and the code is limited to computing intersection with only spheres

[2019-05-16 01:39] julienvalentin commented on #11
Hi,

We scheduled the release of a generic (python only) rasterizer, which you will be able to run on any compute architecture supported by TensorFlow. There is no precise ETA, but I would think that this should be available in approximately one month.

Depending on the run-time of the rasterizer described above and if there is enough interest, we will consider writing a GPU-only version.

I hope

[2019-05-16 01:41] julienvalentin commented on #10
The tests might make it clearer for you:
tensorflow_graphics/nn/layer/tests/graph_convolution_test.py

Let me know in case you don't manage to figure it out!

Best.

[2019-05-16 02:01] julienvalentin commented on #9
I guess that here you are talking about machine learning techniques / deep networks to infer 3D from 2D. Right now we don't have anything in the pipeline in that direction for TensorFlow Graphics. Nevertheless, this is something we discussed internally and we are open to contributions.

In general the main aim with TensorFlow Graphics is not to be a collection of networks, but rather to be a libra

[2019-05-16 02:02] julienvalentin commented on #8
Let us know in case you are still facing problems!

Best.

[2019-05-16 08:30] betairylia commented on #8
Thanks for your reply!
Unfortunately I have some problems with tf-nightly (I am using some custom ops that will throw segfault in tf-nightly version, but runs properly with tf 1.13). Is it even possible to use tensorboard 3D with tensorflow 1.13 ?

Also I have checked the corresponding webfiles.zip (under tensorboard/) after installed tf-nightly. index.html contains:
`b.prototype._createPointCloud

[2019-05-16 16:49] podlipensky commented on #8
The plugin is not part of current version of TensorBoard, but should work fine with TF 1.13 if you manage to install/register the plugin in your local TensorBoard version. Default point size will be fixed soon, meantime try to just pass material threejs-compatible config, i.e.:

[code]

[2019-05-16 18:51] Epsilon1024 commented on #10
It works!!!  Thank you for getting back to me.  The test_feature_steered_convolution_layer_training function was most helpful to understanding how it works.

If figured out that the problem was with the fact that the initializer needed the shape of the placeholder to be defined within the graph (not just defined by the numpy array that I feed into it).  The code that I had trouble with was somethi

[2019-05-16 19:35] julienvalentin commented on #10
Awesome! I let you close the issue if you are all set.

Best.

[2019-05-16 19:36] #9 closed

[2019-05-16 19:40] Epsilon1024 commented on #10
I have one more related question:

In the example in the test file, the adjacency matrix is of rank 2.  In the mesh segmentation demo, the adjacency matrix is of rank 3.  According to the documentation in the mesh segmentation demo, it should be of shape (B,V,V) (see below):
[code]

When I create a similar type of adjacency matrix, however, based off of the code I posed in my previous comment (exc

[2019-05-16 20:29] #10 closed

[2019-05-18 04:50] betairylia commented on #8
Thanks!

[2019-05-18 04:50] #8 closed

[2019-05-18 19:15] julienvalentin commented on #4
I am closing this; feel free to re-open if you have further questions

[2019-05-18 19:15] #4 closed

[2019-05-18 19:17] julienvalentin commented on #11
I am closing this; feel free to re-open if you have further questions

[2019-05-18 19:17] #11 closed

[2019-05-21 13:26] momo1986 opened #12 "3D pose training data for demo"
Hello, Google Guys.
I am very interested in your 3D pose reconstruction project.
In your demo,
https://colab.research.google.com/github/tensorflow/graphics/blob/master/tensorflow_graphics/notebooks/6dof_alignment.ipynb
It looks like that the data is generated randomly.

For my own transfer, I am very interested that whether there is a corresponding training dataset?

Thus, I can fabricate or produ

[2019-05-21 17:29] Epsilon1024 opened #13 "Steered Graph Convolutions Convert Sparse Tensors to Dense Tensors"
When using the feature_steered_convolution_layer function, in cases where zero padding is used, issues will arise when passing a tensor to the "size" argument.  According to the documentation, this argument should be an array whose elements represent the non-padded lengths of each of the inputs.  This array should be the same length as axis 0 of the input data.  However, if a size argument is pass

[2019-05-23 05:53] julienvalentin commented on #12
Hi!

In the demo you refer to, we sample the 6 degrees of freedom (rotation and translation) that we wish the network to be able to recover. The geometry of the object (mesh) is fixed.
I am not exactly sure to understand what you are after, could you detail a bit more?

Best.

[2019-05-23 17:52] dperpen opened #14 "3D format to .tfrecords"
It'd be great to have a conversion tool to go from any of the usual 3d formats(.fbx, .ply, .obj...) to .tfrecords

[2019-05-23 22:03] Epsilon1024 commented on #13
So far, I have made some progress with the problem.  It appears that the issue starts with flatten_batch_to_2d in convolution\utils.py.  When the zero padding is used, the function will build the flattened data array by using the tf.gather_nd function.  I found that, if you define the shape of the output array, the error will go away, but I'm not yet sure how that affects performance.  I think the

[2019-05-24 18:08] julienvalentin commented on #14
Hi,

Would Trimesh (https://github.com/mikedh/trimesh) suit your needs?
I am also happy to start a discussion on this topic if you can share your exact needs.

Best.

[2019-05-24 19:03] dperpen commented on #14
Hi Julien,
Thanks for your reply. I am trying to feed some of our meshes (dancing people) to your mesh segmentation example to see how it goes. We can have our mesh in any 3d format but I don't know how to convert that to .tfrecords. (I believe the one the example uses is: 'data/Dancer_test_sequence.tfrecords', right?)

[2019-05-25 03:44] avneeshsud commented on #14
Hi,

_parse_tfex_proto and _parse_mesh_data examples in mesh_segmentation_io.py (https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/notebooks/mesh_segmentation_dataio.py#L176) show how to unpack dense vertex coordinate and triangle indices tensors from tf.Example protos. The procedure for packing mesh data is the reverse: convert custom mesh data into tensors, serialize to a st

[2019-05-27 01:53] voidspiral commented on #14
pymesh

[2019-05-27 15:02] francoisruty opened #15 "TF2.0 incompatibility"
Hello, I'm using tensorflow-graphics with tensorflow 2.0.

I'm trying to use tfg.geometry.representation.mesh.normals.vertex_normals but I'm getting:

  File "/usr/local/lib/python3.5/dist-packages/tensorflow_graphics/util/shape.py", line 135, in _get_dim
    return tensor.shape[axis].value
AttributeError: 'int' object has no attribute 'value'

.shape indeed returns an integer, .value is undefined

[2019-05-27 16:15] francoisruty commented on #15
Mmmmm I've just looked closer to the source code:

def _get_dim(tensor, axis):
  """Returns dimensionality of a tensor for a given axis."""
  if tf.executing_eagerly():
    return int(tf.shape(input=tensor).numpy()[axis])
  else:
    return tensor.shape[axis].value

so it seems you guys already accounted for TF2 difference, yet in my case I'm in TF2.0 and the second part of the if is traversed

I'

[2019-05-27 16:21] julienvalentin commented on #15
Hi!

We actually test for graph and eager mode execution for both TF1 and TF2, but it's possible that something slipped. In case you did not resolve it by then, I will have time to get to this next week.

Best.

[2019-05-27 17:10] francoisruty commented on #15
Hello, no hurry, in the meantime I've updated my Dockerfile to just do a sed replace in shape.py

Let me know if you need anything from me, I can help

[2019-05-27 18:14] francoisruty commented on #15
@julienvalentin sorry for spamming here can I send you an email about rasterization with TFG?

[2019-05-27 18:24] julienvalentin commented on #15
sure, my email is julienvalentin@google.com

[2019-05-28 11:34] ChenXuelinCXL commented on #11
Looking forward to that differentiable rasterizer, especially GPU version. :)

[2019-05-28 16:53] dperpen commented on #14
Thanks, I will try that.

[2019-05-30 17:25] Epsilon1024 commented on #13
Here is a traceback to the warning that I get.  The issue happens when it tries to get the Indexed Slices.  From what I can tell is that one of the matmul gradients is not properly running for a sparse tensor and it converts it to a dense tensor instead.

[code]

[2019-05-30 17:28] julienvalentin commented on #14
Let us know if this solved your problem :)

[2019-05-30 17:30] julienvalentin commented on #13
Thanks Epsilon1024, we will look into this shortly.

[2019-05-30 18:13] amakadia commented on #2
The first thing that happens within the convolution ops is that the optional batch dimensions are collapsed (which also removes any padding).

We chose to use a dense padded data tensor as opposed to a ragged tensor because it is more likely that the batched datasets would be dense/padded rather than ragged (I believe until very recently tf.data did not have support for RaggedTensors).

In any cas

[2019-05-30 21:04] amakadia commented on #13
Thanks for looking into this Epsilon1024. As you also detected, I believe the "UserWarning" you referenced is a warning that a large memory allocation *could* happen, not that it has.

Has this been a problem yet? Do you have an example of small graphs that are causing large/unexpected memory consumption?

[2019-05-31 12:56] kv3n opened #16 "Contribution Guidelines"
Hi, I had a need to draw Lines in my 3D viewer, so I wrote a simple _triangular_mesh_plus_line_renderer_ function within the _threejs_visualization.py_ file. I am curious to know if there is a contribution guideline specific to this repository and if there are any testing procedures prior to doing a pull request? Or should I just open a feature request and have someone look at it eventually?

The

[2019-06-01 00:38] Epsilon1024 commented on #13
The meshes I am working with have 20,000-60,000 vertices each.  I assumed that this was due to this user warning.  I do not have examples of small meshes causing a noticeable memory error.  Would you like me to provide an example of a case with a large mesh causing unexpected memory consumption?

I will go through my notes on Monday and see if I can throw some examples together.   In the meanwhile

[2019-06-03 09:09] jackd commented on #2
Thanks @amakadia

I agree with this, but won't consecutive convolutions result in uneccessary padding and unpadding? Maybe some graph optimizer can do fancy things behind the scenes, but I feel it's asking a lot.

I was under the impression this was still the case (i.e. `tf.data` does not support `RaggedTensor`s), so I've written a fair bit of hacky code elsewhere to do this myself. I'm a big fan

[2019-06-03 10:25] julienvalentin commented on #2
Hi @jackd ,

Thanks a lot for this; very cool!
Could you run a performance benchmark (memory + run-time) to assess how this compares to the current version?

Best.

[2019-06-03 11:30] jackd commented on #2
Not sure on the best way to make this maintainable, but here's a dirty hack that will hopefully be enough for demonstration.

# TL;DR

### CPU/2.0

* the unpadded modified version is ~10x faster, padded version similar.
* Both modified versions require slightly more memory (~25%).

### GPU/1.13.1

* speed roughly the same
* Both modified values require more GPU memory (~40%) but negligible CPU mem

[2019-06-03 12:43] simofoti commented on #14
Hi,

as @dperpen I would be interested in using the tensorflow graphics library with data in some usual 3D formats (obj in my case).
I am trying to implement the converter, but I think I am creating the tfrecord in the wrong way. When I try to load the mesh data from the tfrecord (following the same procedure used in [your example](https://colab.research.google.com/github/tensorflow/graphics/blob/

[2019-06-03 21:10] Epsilon1024 commented on #13
After running through some tests, it looks like the issue that I'm having is not the original question that I asked.  Should I go ahead and close the issue?

[2019-06-04 01:13] bhack opened #17 "3d points perspective projection visibility"
How do you inform the users about 3d point visibility in https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/rendering/camera/perspective.py#L170?

Here an interface with an extra output tensor for visibility in Matlab https://www.mathworks.com/matlabcentral/mlc-downloads/downloads/submissions/48752/versions/2/previews/projectPoints.m/index.html

See also https://github.com/open

[2019-06-04 09:12] julienvalentin commented on #17
By default, 3d points have no volume, and hence, their projection has an area of 0. Visibility is then ill-defined in that context.

If you are after defining at most one point per pixel, one option is to create a grid that is MxN times bigger than the original image, project the 3points in that grid, and then perform spatial pooling to get back to the original image resolution.

[2019-06-04 09:53] bhack commented on #17
Also in the one point per pixel context that I suppose it is a frequent use case for this API:
Suppose the case that you are in the context of regressing perspecitve projection input parameters can you go in inf/overflow with this product: https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/rendering/camera/perspective.py#L227

Cause you are not limited by any near and far plane

[2019-06-04 10:21] julienvalentin commented on #17
If the near / far plane is your concern, you can always only pass data that satisfy your min / max depth. Would this not work for you?

Also, the solution I was describing was regarding the visibility problem, not the near/far plane.

[2019-06-04 10:32] bhack commented on #17
Ok so you are just suggesting to let the user to filter 3d points before passing to the function to not have overflov in line 227?

[2019-06-04 10:56] bhack commented on #17
Is there any case where `point_2d *= safe_ops.safe_signed_div(focal, depth)` can go to INF/NAN?

[2019-06-05 14:13] julienvalentin commented on #16
I am currently working on syncing github and google's internal repository. Once this is in place, it will be fine to create PRs. I anticipate to have all of that in place by the end of next week. I will let you know here when ready.

Regarding tests, a good guideline would be to follow the tests for quaternions for instance (https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/ge

[2019-06-05 14:27] julienvalentin commented on #17
This is effectively a division who's gradient behaves better than the normal division operator. I would then expect it go to INF if you divide a very large number by a very small one. Since a small epsilon is added to the denominator, I would think that it should not return NANs.

[2019-06-05 15:38] bhack commented on #17
I think you can overflow if safe_ops.safe_signed_div is safe to not be NAN but point_2d is big.

[2019-06-05 15:44] julienvalentin commented on #17
Indeed. If you need to handle large numbers, I would recommend to use double precision; it is going to be slower but would allow to handle much larger numbers than floats.

Is it safe to assume that I can close this ticket, or do you have any further questions on the matter of visibility?

[2019-06-05 16:33] bhack commented on #17
If we suppose that is up to the user to filter the 3d points before the projection to not broke loss with inf/NAN we can close.

[2019-06-05 17:40] Epsilon1024 commented on #13
I'll just look for a workaround to this.  I have to move forward with my project.  I'm closing the issue.

[2019-06-05 17:40] #13 closed

[2019-06-06 01:00] frankhome61 commented on #11
Hi! I am wondering if there is a new ETA of the differentiable rasterizer? I am working on a visual localization project and would be great to use the differentiable rasterizer!

[2019-06-06 06:18] julienvalentin commented on #11
It is coded up and actually already pushed on GIT. It has been written in python / TensorFlow and hence is going to be available on any compute platforms supported by these (GPU / CPU  etc.). Note nevertheless that the goal of this first version is to offer something generic so that everyone has access to the feature; if there is a lot of requests we will consider writing a fast GPU-only version.

[2019-06-06 06:19] #17 closed

[2019-06-06 06:22] iliaglazkov commented on #11
@julienvalentin Sounds awesome. Where can we find the experimental code? I don't see any relevant branches in this repo.

Thanks.

[2019-06-06 06:36] frankhome61 commented on #11
Also wondering if the documentation for relavant rasterization part is available? If so, where could I find them?

[2019-06-06 06:44] julienvalentin commented on #11
The code + documentation currently lives on the main branch at
https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/rendering/differentiable_renderer/rasterizer.py

[2019-06-06 14:41] simofoti commented on #14
Never mind, I figured it out. I was doing two mistakes:
1.  even thought *obj* files don't come with labels I had to initialise a label tensor (and this fixed the above-mentioned problem)
2.  face/triangle indices in *obj* files starts from one, while in the library they start from zero

Let me know if you want me to share my code somewhere or to contribute somehow.

[2019-06-06 17:29] SpicySyntax opened #20 "Tensorflow.js implementation"
Preface: This is more of a question than an issue with the repo.

Are there any plans to expose the tensorflow graphics api to be used with Tensorflow.js?

If not I may consider, writing a port of this project to tensorflow.js.

Thanks!

[2019-06-06 17:49] frankhome61 commented on #11
Hi @julienvalentin, thanks for the update. I am currently working on a visual localization project and would like to know how I could utilize the current release of tensorflow graphics to render objects on screen? Thanks!

[2019-06-06 17:55] frankhome61 opened #21 "Threejs Visualization"
Hi! I am currently working on a visual localization project and would like to use some visualization tools like threejs mentioned in some of the tutorials. Currently, when importing tensorflow_graphics, I see a warning stating:
 "To use the threejs_vizualization, please install the colabtools package following the instructions detailed in the README at github.com/tensorflow/graphics." I am having

[2019-06-06 19:05] julienvalentin commented on #21
Please note that colabtools is only compatible with Colab.

[2019-06-06 19:13] kv3n commented on #16
Wonderful. Thank you so much. Appreciate the work you guys are putting in.

[2019-06-06 20:12] frankhome61 opened #22 "Missed import in tensorflow/graphics/rendering/__init__.py"
Hi! I found this issue when importing the differentiable renderer module (which was pushed last night), that the module was not imported in graphics/rendering/__init__.py after line 20. I believe adding this import should fix the issue.

[2019-06-07 01:47] #21 closed

[2019-06-07 01:50] frankhome61 opened #23 "Rasterizer Usage"
Hi! I have been trying to get rasterizer to work using the rasterizer_rasterize() function. However, the tensors it return to me are all inf or -1s. Any idea why this is the case?

[2019-06-07 08:22] julienvalentin commented on #23
We are unfortunately not providing support for experimental / non-stable features. Nevertheless, I would suggest you to craft a simple example (1 triangle) and manually place the vertex position  (with positive depth) such that they fall on pre-defined pixels; note that right now only the orthographic camera is supported in this experimental version, but this should simplify manualy crafting toy e

[2019-06-07 08:24] julienvalentin commented on #20
Hi @SpicySyntax

This is not something we are planning to do internally, but more than happy for you to take a stab at it!

Best.

[2019-06-07 08:26] julienvalentin commented on #22
Hi @frankhome61

Thanks for raising this, I will have a look at this shortly.

Best.

[2019-06-07 13:52] #20 closed

[2019-06-07 17:34] frankhome61 commented on #23
`H, W = 64, 64`
`result = np.zeros([H, W, 5])`
`vertices = np.array([[5,0,0], [0, 5, 0], [0, 0, 5]])`
`triangle_lst = np.array([[0, 1, 2]])`

`res = dr.rasterizer_rasterize(vertices=vertices,
                              triangles=triangle_lst,
                              image_width=64,
                              image_height=64,
                              name="rasterize")`

This is wha

[2019-06-11 15:57] julienvalentin commented on #23
Note that we are in the process of re-writing this first implementation as we are not satisfied with it.

[2019-06-11 22:35] frankhome61 commented on #23
Any ETA?

[2019-06-12 21:34] anandbhattad opened #24 "Microfacet-based BRDF models"
Hi,
Do you have any plans for building a microfacet-based BRDF model?
Thanks!

[2019-06-13 10:21] simofoti opened #25 "Pool and Unpool Usage"
Hi!

I would like to use the pooling and unpooling operators (in a CNN) to sample and upsample a mesh, but I am not sure I've properly understand their implementation.
In particular, I would like to know how to use the pool_map and how to get the new edges/adjacency_matrix after applying the operation.

Could you provide a quick example of their usage and/or some reference?

[2019-06-13 11:29] julienvalentin commented on #25
Hi,

Did you have the chance to look at our tests?

Best.

[2019-06-13 13:12] julienvalentin commented on #24
This is something we have talked about and on the roadmap, but quite low priority for now. Would you be interested in implementing it?

Best.

[2019-06-13 14:02] simofoti commented on #25
@julienvalentin thanks for your quick response. Yes, I had a look at them and at three of them in particular:
-  *test_pool_identity*
-  *test_pool_random*
 - *test_pool_preset*

However I don't understand how to generate a pool_map automatically. I get how to create it manually, but I would ideally like to pool meshes with thousand of vertices taking into account their edge connectivity/adjacency

[2019-06-14 16:16] kushalvyas opened #26 "Usage for rotation_matrix_3d.rotate function"
Hi,

I'm caught up with this issue of trying to rotate a set of 3D points through identity rotation ( just to test the rotate function ) - however I seem to be receiving some weird output.

System : TF 1.13.1, Python3.5, Ubuntu16.04, Cuda 10.0, Eager Execution enabled.

[code]

Ideally, since the rotation matrix is identity - the transformed_points and base_points must be the same. However, I get

[2019-06-14 21:23] didukhle opened #27 "Graph Embedding"
Good evening,

Is it planned to implement the Graph Embedding for this library? Best, Leonid

[2019-06-17 17:26] Epsilon1024 commented on #25
I'm looking at the pooling tests too and do not completely understand how the pooling map works.  The original FeastNet paper used the Graclus algorithm to create clusters and then placed them into a binary tree before pooling.  How does it work in the Tensorflow implementation?

[2019-06-18 10:50] simofoti commented on #25
@Epsilon1024 in my understanding you have to define a pooling map where the number of columns is equal to the number of vertices and the number of rows is equal to the number of vertices you want to obtain after pooling. Each row of this matrix is the set of weights that will determine the features of the new vertices with respect to the old ones.

A quick example might be the following: you have

[2019-06-20 09:48] jajakob commented on #14
Hi guys,
thanks a lot for providing TF graphics.

I also want to apply the mesh segmentation on custom meshes and I was wondering:

1. What is the maximal number of vertices the input mesh can have?
Because I guess my meshes are currently too large, and according to the FeastNet paper, their experiments have been run with the FAUST dataset where each mesh consists of 6,890 vertices

2. Can this nu

[2019-06-21 17:43] avneesh-sud commented on #14
Hi jajakob - the size of meshes will be dependent on available memory and batch size. One can trade off larger meshes against smaller batch sizes.

[2019-06-24 18:52] dknyxh commented on #24
I'm also interested in this. I haven't done much research on this. My question is that are usual microfacet-based BRDF models differentialable? If so, for a starter, would the implementation be similar to blinn-phong reflectance module?

[2019-06-25 13:33] jajakob commented on #14
Hi avneesh-sud,

[2019-06-25 15:38] francoisruty commented on #24
Don't microfacet-based BRDF require some sort of random sampling at some point in the process?
I'm not 100% sure but I think if there's randomness it can't be differentiable

[2019-06-25 17:07] francoisruty commented on #11
@julienvalentin  thanks for the link, I'm going to test this on my use case and I'll get back to you if I find issues. I just have a small question: currently I use the old Google tf_mesh_renderer which does rasterization + phong shading.
According to you, should I try to use TFG rasterizer and plug it to tf_mesh_renderer phong_shader, or should I try to do rasterization + shading in TFG?

So far

[2019-06-25 19:36] julienvalentin commented on #26
Hi @kushalvyas!

I have to say that this is unexpected. On our end we run all tests on GPU / CPU and never saw a discrepancy in the results.

Could I ask you to create an example on colab.sandbox.google.com and share the link here? That would be much easier in order to reproduce / fix the issues you are facing.

Best.

[2019-06-25 19:40] julienvalentin commented on #26
Out of curiosity, does the problem also occur with quaternions or other representations?

[2019-06-25 19:41] julienvalentin commented on #25
@amakadia has implemented this part of the codebsae, I will ask him to get back to you as soon as time allows.

[2019-06-25 19:44] julienvalentin commented on #27
Not planned right this second, but happy to take contributions in this direction.
Did you have specifics in mind?

Best.

[2019-06-25 19:52] julienvalentin commented on #24
@dknyxh you can have a read at http://simonstechblog.blogspot.com/2011/12/microfacet-brdf.html which I found was a good resource to understand the most common approximation. Unless I am missing something, it indeed looks differentiable ;)

[2019-06-25 20:00] julienvalentin commented on #23
You should be able to use the current one for now, updating to the new one should not incur much changes. We'll send an update once submitted.

Best.

[2019-06-25 20:01] julienvalentin commented on #12
Let us know @momo1986 ;)

[2019-06-25 20:02] julienvalentin commented on #14
Is it fair to assume that all is resolved on this thread? :)

[2019-06-25 20:04] kushalvyas commented on #26
Hi, I'll setup the colab link as well. Just a few followup notes that I've made.
this problem occurs on google colab as well. Next, I think its because of the 32-bit access counters ( as this does not occur in pytorch  - I may be wrong about the 32bit counters. ) So if my input is a 3D pointset with size greater than 65535, all results at indices after somwhere around 65535 become zeros.
( this bu

[2019-06-25 20:06] julienvalentin commented on #15
Hi Francois,

Can I ask you to create a functional example illustrating the problem using colab.sandbox.google.com?
That would help reproducing / fixing.

Thanks!

[2019-06-25 20:08] julienvalentin commented on #11
Hi Francois.

This ticket is closed; can I ask you to create a new one? That makes things easier for us to track.

Best.

[2019-06-25 20:09] julienvalentin commented on #11
@frankhome61 , can I also ask you to create a new issue?

Best.

[2019-06-25 20:11] AndriiTsok commented on #12
Hello @julienvalentin, we are currently reviewing TF-Graphics as a solution for a new NN architecture.
We have a dataset of 2d pictures (projections of one type of an object) of 3d object with corresponding R|T matrix. Would you recommend what parts of the TFG we could incorporate for building such a regressor network? Is TFG would be a good choice for such task?

[2019-06-25 21:43] francoisruty opened #28 "Rasterization with shading"
https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/rendering/differentiable_renderer/rasterizer.py

thanks for the link, I'm going to test this on my use case and I'll get back to you if I find issues. I just have a small question: currently I use the old Google tf_mesh_renderer which does rasterization + phong shading.
According to you, should I try to use TFG rasterizer and p

[2019-06-25 21:43] francoisruty commented on #11
sure
https://github.com/tensorflow/graphics/issues/28

[2019-06-25 21:45] francoisruty commented on #15
sure, I'll send you something in coming days

[2019-06-26 02:24] dknyxh commented on #24
Thanks so much for the pointers. I'll see if I can implement this.

[2019-06-26 15:04] francoisruty commented on #15
Ok so I have difficulties setting up a simple program that reproduces the error. I only get the error with my complex geometry.
If I try to use simpler geometry, I don't get this error.

I thought I would just save the vertices and triangles in a .npy file, but I came across a TF2 bug with .numpy() method (https://github.com/tensorflow/tensorflow/issues/27519) so I can't even convert this geometry

[2019-06-28 01:37] amakadia commented on #2
Hi @jackd,
This padding/unpadding (aka flatten/unflatten) inside the convolution op is only triggered when the input is batched. To compose multiple convolution ops one could flatten/unflatten before and after the conv ops:

[code]

[2019-06-28 01:48] #2 closed

[2019-06-28 02:07] amakadia commented on #25
Hi @simofoti
We implemented this pooling and unpooling to be quite general and not tied to any specific pooling algorithm. Your understanding here is correct. I would only add that the code also offers 'max' pooling which will ignore the set of weights since it is taking the max and not a linear combination.

We do not yet provide a method to get a new adjacency after pooling, partly because there

[2019-06-28 04:10] amakadia commented on #25
Although i mentioned in my last note

[2019-06-28 04:10] #25 closed

[2019-06-28 15:52] avneesh-sud commented on #27
Hi Leonid - can you share specifics of graph embeddings that you have in mind? Currently there are no plans to provide complete models in tensorflow-graphics, rather the underlying ops and layers. For graphs, 2 graph convolution layers are provided: FeatureSteeredConvolution and DynamicGraphConvolution, and  mesh_segmentation_demo shows how to construct a mesh  (special case of a graph)  embedding

[2019-06-28 17:42] bionicles opened #29 "[Docs] Not enough beginner Colab notebooks"
We want to use Tensorflow Graphics for Molecular Dynamics. Already have the learned physics engine working but we're stuck because our current movie maker PyMol takes like ... 30 minutes to make a nice movie at 30fps, it only uses 1 core, and it's super frustrating and slow. Plus it's a paid thing, if you use the latest version from Conda, then it puts gross watermark text on your movies. Warren D

[2019-06-29 18:32] francoisruty commented on #23
I confirm I have the same issue, I get -1 everywhere
I coded a while loop to try random triangle vertex positions until the barycentric coords map has at least 1 non-(-1) value, and it loops forever

def toTensor(arr):
    return tf.convert_to_tensor(np.float32(arr), np.float32)

def toTensorInt(arr):
    return tf.convert_to_tensor(np.int32(arr), np.int32)

has_non_zero = False
while has_non_zero

[2019-06-29 22:36] frankhome61 commented on #23
Hi! @francoisruty were you using their newly pushed code? Seems that they have pushed new code to the repo several days ago.

[2019-06-30 00:29] francoisruty commented on #23
@frankhome61 yeah I used the code from this page:
https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/rendering/differentiable_renderer/rasterizer.py
just this afternoon so I indeed used the most up-to-date version

[2019-06-30 12:13] kamelbelkadhi commented on #29
As @bionicles  said, we want Tensorflow Graphics to support 3D object rendering on GPUs, so we don't have to wait for many minutes to get 9 seconds of Jiggling Atoms movie.

It's really very slow atoms rendering operation on CPUs, especially for a large number of atoms and when we visualize surfaces  (A fancy graphics mode)

While rendering this is how the CPUs state looks like
![cpu](https://user

[2019-07-01 00:44] didukhle commented on #27
Thank you for your answer. The idea to have an Embedding layer that map graph (represented as a weighted adjacency matrix) or node of the graph to the n-dim vector, with random walks.
Best.

[2019-07-01 09:18] jajakob opened #30 "mesh segmentation - parameters for training"
Hi guys,
I'm curious what parameters you guys have used for training the model for the mesh segmentation demo. The ones that would be great to know, are:
- learning rate (0.001 like FeaStNet?), beta1 and epsilon for the Adam optimiser
- number of training epochs (and number of steps per epoch) or number of iterations
- if used, after how many epochs did you evaluate?
- train io params ? E.g.:
[cod

[2019-07-01 10:22] julienvalentin commented on #26
I just had a deeper look, it works fine in float64, but float32 has the problem you are describing. The issue unfortunately comes from TensorFlow; I will file a ticket to them and will let you know when fixed / I hear back.

Best.

[2019-07-01 10:34] julienvalentin commented on #28
We have phong shading in TFG:
https://github.com/tensorflow/graphics/tree/master/tensorflow_graphics/rendering/reflectance

If you want diffuse + specular, you would want to use a weighted sum of the lambertian and phong shaders contained in that folder. Let me know if you have further questiobns.

[2019-07-01 10:47] francoisruty commented on #28
thanks, now waiting for updates on the rasterizer before testing all this, I'll let you know!

[2019-07-01 11:22] julienvalentin commented on #28
you should be able to test feasibility with the existing rasterizer, the new version will mainly improve performance

[2019-07-01 11:34] francoisruty commented on #28
I'm waiting for feedback on https://github.com/tensorflow/graphics/issues/23
(if I understood correctly there is no support provided at the moment for the rasterizer since it's not officially released yet, so I'm waiting for the release)

[2019-07-01 12:15] julienvalentin commented on #23
To @frankhome61 example: the issue is that the winding order of your vertices is not correct:

I pretty much took your code, but changed the vertex order in triangle_lst from [0, 1, 2] to [0, 2, 1]:

H, W = 64, 64
result = np.zeros([H, W, 5])
vertices = np.array([[5.0,0,0], [0, 5.0, 0], [0, 0, 5.0]])
triangle_lst = np.array([[0, 2, 1]])

rendered_depth_map, triangle_ind_map, bc_map = rasterizer.ra

[2019-07-01 12:18] julienvalentin commented on #29
Hi both!

Very very cool stuff!

@bionicles 'How hard is it to draw moving sphere-clouds in TF-GFX, and would it be possible to add a simple tutorial for this?':
There is an example that shows how to render + shade a single sphere:
https://colab.sandbox.google.com/github/tensorflow/graphics/blob/master/tensorflow_graphics/notebooks/reflectance.ipynb

As you know, occlusions need to be handled when

[2019-07-01 12:20] julienvalentin commented on #28
I just updated that thread.
You are right that I'd prefer to not commit to giving support on experimental components.

Best.

[2019-07-01 12:41] julienvalentin commented on #12
@AndriiTsok I would encourage you to have a look at our demo on pose estimation:
https://colab.sandbox.google.com/github/tensorflow/graphics/blob/master/tensorflow_graphics/notebooks/6dof_alignment.ipynb

Also, could you say a bit more about the exact setting and how you want to approach the problem + rotation formalism you plan on using?
One solution that I would encourage to try is a cascaded ap

[2019-07-01 12:41] #14 closed

[2019-07-01 12:44] julienvalentin commented on #15
Did you have a chance to try with TF1 if TF2 is facing problems at the moment?

[2019-07-01 12:47] francoisruty commented on #23
@julienvalentin ok before I try to find a specific example, do you confirm that the convention for camera axis orientation is -Oz?

[2019-07-01 12:52] julienvalentin commented on #23
@francoisruty
positive Z is from the optical centre to the image plane, in other words, if an object is potentially visible, its Z component has to be positive.

[2019-07-01 14:10] francoisruty commented on #23
OK, thanks

[code]

This yields a black image (same if I reverse triangle vertices order)
Unless I'm mistaken, if the camera is at origin and looking along Oz, there should be something visible

[2019-07-01 17:16] bionicles commented on #29
@julienvalentin Thank you for the link

if we could interpolate between pairs of keyframes, then we might draw multiple sections of the movie simultaneously, and thus generate the movie much faster, this is parallelizable because each frame only depends on the prior and next keyframe

how hard do you think it would be implement some parallel 3D-rendering like this?

it feels like this could greatl

[2019-07-01 19:49] francoisruty commented on #23
Another noob question, in this orthographic projection context I see that if a vertex has coords (x,y,z), its screen position is (x,y). So far, nothing weird, it's orthographic projection.
But I see that the screen space is not a traditional clip space, meaning it's not normalized. If I choose W,H = 400, then the screen coordinates of vertices can go from -200 to 200
Shouldn't it be normalized? Us

[2019-07-01 22:22] francoisruty opened #31 "Rasterizer Memory consumption"
I know the rasterizer is not official yet but I create an issue in case of.

Before running the rasterizer, I loaded noything in python shell, nvidia-smi gives me this:

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.39       Driver Version: 418.39       CUDA Version: 10.1     |
|-------------------------------+----------------------+--------------

[2019-07-01 22:24] francoisruty commented on #31
To give more context, I'm trying some code from tf_mesh_renderer to implement in TFG vertex attributes interpolation, just after rasterization
But this steps needs some memory to manipulate all pixels, and in my case it crashes since running the rasterizer does not leave any free GPU memory for what comes afterward

[2019-07-01 22:27] ioga commented on #31
It's a default tensorflow behavior to allocate almost all available GPU memory. It's not specific to this rasterizer. Some more info here: https://www.tensorflow.org/guide/using_gpu#allowing_gpu_memory_growth

[2019-07-02 08:14] francoisruty commented on #31
@ioga thx for the information, do you know how people proceed then?
Because right after the code block I mentionned I have other tensorflow code that throws an OOM as a consequence
Shouldn't the tensorflow code immediately following the one I posted use that allocated memory instead of trying to allocate new one?
Seems I'm missing something

[2019-07-02 08:38] francoisruty commented on #31
for reference, here is the full code (this code aims at computing the vertex attributes interpolated values, it was taken from google tf_mesh_renderer repo:

[code]

This returns:

[code]

It tries to allocate 286GB anyway so even without the first memory allocation issue it would still probably fail, but I think there is a problem with the code, I don't understand why it needs 286GB

TensorShape(

[2019-07-02 11:10] francoisruty commented on #15
my code is fully TF2 and I lack time to backport it to TF1, what I propose is that I'll try again once TF2 is officially released

[2019-07-03 10:10] francoisruty commented on #31
Ok so I found another way to compute vertex attributes interpolation which works well (I asked the team if I can submit a PR), and anyway this issue didn't seem related to TFG so I'm closing

[2019-07-03 10:10] #31 closed

[2019-07-03 10:11] #28 closed

[2019-07-03 10:38] francoisruty commented on #31
Note: without any additional TF code, I still got an OOM with rasterizer_rasterize when I try it with a "real-world" mesh with dozens of thousands of vertices.
I'll wait for TFG rasterizer official release to create an issue with the mesh attached

[2019-07-03 16:18] francoisruty commented on #31
@julienvalentin
And here is a .zip with Dockerfile to reproduce TFG rasterizer OOM
[test_tfg.zip](https://github.com/tensorflow/graphics/files/3355866/test_tfg.zip)

cd test_tfg
sudo docker build -t test_tfg .
sudo docker run -it --runtime=nvidia test_tfg /bin/bash
python3 script.py

You get an OOM, and the mesh is quite small

[2019-07-03 21:01] francoisruty commented on #31
correction, with TF2 beta it eventually finishes after like 12min, but it uses only the CPU, I have no idea why

[2019-07-04 13:58] Batstat opened #32 "ERROR: tensorflow 1.13.1 has requirement tensorboard<1.14.0,>=1.13.0, but you'll have tensorboard 1.14.0 which is incompatible."
Hi,

Sorry for my newbie quiestions

Installed tensorflow-gpu from anaconda on my desktop Ubuntu 18.04.02 LTS
sudo apt purge nvidia*
sudo add-apt-respository ppa:graphics-drivers/paa
sudo apt install nvidia-driver-430
installed anaconda..
In my env I did the following
conda install python=3.6.7
conda install tensorflow-gpu=1.13.1
conda install pip
anconda3/envs/tf-gpu/bin/pip install –upgrade tens

[2019-07-05 14:43] Batstat commented on #32
Partly solved I guess, but not sure if the steps was relevant.

I downgraded Tensorboard
conda install tensorboard=1.13.1
the command went OK, but there was nothing in the output indicating a difference.
I did the pip install again, and now the error was gone
and I continues with
conda install keras-gpu
conda install matplotlib
conda install numpy
sudo apt-get install libopenexr-dev
anaconda3/envs

[2019-07-05 14:43] #32 closed

[2019-07-05 15:06] AndriiTsok commented on #12
@julienvalentin thank you so much for your reply.

At the moment we have a dataset of pictures of simple shapes and labels - (R|t) matrices for 3d objects that were used to create these pictures (rendering). What we are planning todo is to create a regressor that predicts these (R|t) matrices. We have a few loss functions in mind L2 loss on the
quaternion and translation, IoU, others. The idea is

[2019-07-10 16:50] avneesh-sud commented on #30
Hi Jakob,

Here are the parameters for training:
total_steps = 150k
batch_size = 8
num_filters (for FeaStNet) = 8
encoder_filter_dims = [32, 64, 128]
learning_rate = 0.001, with exponential decay and following parameters: learning_rate_decay_steps = 10000, learning_rate_decay_rate = 0.95
adam_beta = 0.9
adam_epsilon = 1e-8

[2019-07-10 16:50] #30 closed

[2019-07-11 19:26] e2crawfo opened #40 "Tutorial link in README."
The link for the Environment map optimization tutorial points to the Spherical harmonics rendering tutorial.

[2019-07-12 22:21] franknod commented on #23
![Screenshot from 2019-07-12 15-20-00](https://user-images.githubusercontent.com/52215119/61161461-9c04aa80-a4b8-11e9-876d-bb22485b7b6f.png)
I can verify that after making the changes that @julienvalentin suggested, the rasterizer is still outputting inf

[2019-07-15 12:48] e2crawfo commented on #40
Ah I see, I thought there were two links to the same tutorial, but I see they are different.

[2019-07-15 12:48] #40 closed

[2019-07-23 00:04] franknod commented on #23
Hi @julienvalentin  I have copied your code
`H, W = 64, 64
result = np.zeros([H, W, 5])
vertices = np.array([[5.0,0,0], [0, 5.0, 0], [0, 0, 5.0]])
triangle_lst = np.array([[0, 2, 1]])

rendered_depth_map, triangle_ind_map, bc_map = rasterizer.rasterizer_rasterize(vertices=vertices, triangles=triangle_lst, image_width=64, image_height=64, name="rasterize")
img = plt.imshow(rendered_depth_map)`

And

[2019-07-23 00:08] franknod commented on #23
Hi @julienvalentin  the image is like this:
![image](https://user-images.githubusercontent.com/52215119/61673174-4b086980-aca3-11e9-992e-a31962d0de17.png)

[2019-07-23 09:57] kavikode opened #54 "Tensorflow.js for the web browser with Tensorflow Graphics"
We'd like to include Tensorflow Graphics for the web browser using Tensorflow.js.

Can you please let us know the steps we can take to make this possible?

[2019-07-23 17:05] Johnny65456 commented on #15
same problem

[2019-07-25 20:02] caozhangjie opened #55 "mesh summary only support fixed sized tensor"
I hope to output a point cloud tensor to the tensorboard but my point cloud size can change from iteration to iteration. Does the mesh summary support varied-size point cloud.

[2019-07-25 20:26] julienvalentin commented on #54
I do not have any experience with Tensorflow.js and hence will not be able to answer your question.

[2019-07-25 20:27] julienvalentin commented on #12
It seems that this can safely be close. Feel free to re-open if needed.

[2019-07-25 20:27] #12 closed

[2019-07-25 20:29] julienvalentin commented on #15
Happy to take a look; can you generate a failing example on colab.research.google.com

[2019-07-25 20:30] julienvalentin commented on #16
I'll let you submit a PR when you get a chance. We will look at it then!

Best.

[2019-07-25 20:30] #16 closed

[2019-07-25 20:32] julienvalentin commented on #22
This has been resolved. Thanks for reporting!

[2019-07-25 20:32] #22 closed

[2019-07-25 20:37] julienvalentin commented on #23
@franknod the renderer can rasterize the mesh, and provide for depth and barycentric coordinates. You can then perform deferred rendering and apply pretty much anything you wish (interpolation of vertex colors / lighting etc.). Right now we leave it to the user to apply these 'effects'. Happy to assist more if needed.

[2019-07-25 20:38] julienvalentin commented on #24
Hi @dknyxh

Any update on this front?

Best.

[2019-07-25 20:47] julienvalentin commented on #27
I must be missing something obvious, but I don't see how this is related to computer graphics?

[2019-07-25 20:52] julienvalentin commented on #29
'if we could interpolate between pairs of keyframes, then we might draw multiple sections of the movie simultaneously, and thus generate the movie much faster, this is parallelizable because each frame only depends on the prior and next keyframe

how hard do you think it would be implement some parallel 3D-rendering like this?'

I am not sure how easy it would be to precisely interpolate over a fu

[2019-07-26 10:36] XuankeShi commented on #4
i have the same problem,did you solve it,i don't no why ,i use tf1.4   cuda10.

[2019-07-26 10:43] XuankeShi opened #56 "name '_publish' is not defined"
When I run the mesh_segmentation demo in the jupyter notebook,it always occurs this problem,I  don't know  how to solve it ,  looking forward to yout reply,  I use  tensorflow-gpu-1.4.0  python3.7  cuda10.0

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-7-0049de5dbd79> in <modul

[2019-07-26 21:01] franknod commented on #23
@julienvalentin I am thinking of working with .obj files using TFGraphics, do you have any suggestions on how I should go about it?

[2019-07-27 07:23] dknyxh commented on #24
@julienvalentin Sorry. I haven't got time to do this and my project which is supposed to use this is going into another direction.

[2019-07-27 08:55] francoisruty commented on #23
@franknod both topics are independent, you can just use any .obj parsing lib and then send the data to TFG in the format it needs

[2019-08-02 01:55] bq2139 commented on #15
Same problem here with 2.0beta. `tf.executing_eagerly()` returns True but still 'Tensor' object has no attribute 'numpy'

[2019-08-02 15:54] cem-keskin commented on #15
I've seen the same issue recently and then discovered that the .numpy() call was inside a function decorated with tf.function(). Once removed, it worked as expected.

[2019-08-05 09:23] julienvalentin commented on #4
@XuankeShi are you using Jupyter? Right now the 3d visualizer that is supplied in the Colab demos is only compatible with Colab, and unfortunately is not compatible with Jupyter notebooks. @podlipensky is looking into upgrading these to using the TensorBoard visualizer and might be able to comment further.

[2019-08-05 09:29] julienvalentin commented on #56
The viewer based on ThreeJS is unfortunately only compatible with Colab (ie not Jupyter). @podlipensky is looking into upgrading the visualization used in the demos to run in Jupyter. He should be able to give an update on this front.

[2019-08-05 17:36] podlipensky commented on #4
For now I'd suggest to just do
[code]
Because `tf-nightly` can override some of the dependencies (my wild guess here). We'll investigate it further soon.

[2019-08-13 12:35] oracle3001 commented on #15
I have a similar issue using TF 2.0 nightly

If I include the tfg.math.math_helpers.spherical_to_cartesian_coordinates operator in a keras model, it appears TF Graphics gets confused over whether things are operating eagerly or not.

I end up getting the following error,

  D:\Data\Documents\PyCharmProjects\learning_mesh_flows\joint_sample_optimization.py:53 calc_cart_coordinates  *
        return

[2019-08-14 05:43] cem-keskin commented on #15
For the static shape check issue in _get_dim(), please check with the latest code from today to see if it is fixed.

For the more general issue about .numpy() not working in eager mode, check the following example:

import tensorflow as tf
tf.enable_eager_execution()
print(tf.executing_eagerly())  # prints True

@tf.function
def print_tensor(tensor):
  print(tf.executing_eagerly())  # prints False

[2019-08-30 05:56] julienvalentin commented on #15
I guess that this has been resolved thanks to Cem's help; closing this ticket. Feel free to re-open if needed.

[2019-08-30 05:56] #15 closed

[2019-08-30 14:47] kushalvyas commented on #26
Hey @julienvalentin , did you hear back regarding the issue? Also is it open for public PRs?

[2019-08-30 14:55] julienvalentin commented on #26
Apparently this can be resolved by upgrading cuda to 10.1
The TF team is still looking into how to fix that for other versions of cuda.
I hope this helps.

Best.

[2019-08-30 14:56] kushalvyas commented on #26
Yes, thanks

[2019-09-04 00:44] bionicles opened #74 "Too complicated, needs simple functions"
the tutorials seem hyper focused on obscure stuff. There are lots of things I can’t pronounce and don’t know what they do, and no simple functions/guides on how to draw cubes, spheres, insert a model, translate it around, camera, lights, action...

How do you draw simple shapes in 3d and move it around and save it as a movie?

Call me a noob but, I don’t want a Lamborghini, just a car

[2019-09-04 19:31] isaacgerg commented on #74
I am having the same issue. I would like a simple example which shows how to create a scence given camera and object parameters... similar to a simple povray script.

[2019-09-09 10:00] PgLoLo opened #81 "mesh summary support for tensorflow 2"
Does mesh summary supports tensorflow 2.0.0?

Right now I am getting this error while trying to add mesh summary:

[code]

Code to reproduce:
[code]

[2019-09-13 08:08] kavikode commented on #54
Thank you!

[2019-09-14 11:47] AlonLahav opened #86 "Training the model for mesh segmentation"
Hi,
I would like to have the code and **data** to retrain the model for `mesh_segmentation_demo.py`.

[2019-09-19 08:21] guanming001 commented on #15
Hi I tried to run tensorflow-graphics with tensorflow 2.0.0-rc1
But I still encounter the error

~\Anaconda3\envs\dl2\lib\site-packages\tensorflow_graphics\util\shape.py in _get_dim(tensor, axis)
    133     return int(tf.shape(input=tensor).numpy()[axis])
    134   else:
--> 135     return tensor.shape[axis].value
    136
    137
AttributeError: 'int' object has no attribute 'value'

I have tried

[2019-09-19 08:27] julienvalentin commented on #15
Could you create a toy example in Colab (https://colab.sandbox.google.com) which shows the issue and paste the link here?

thanks!

[2019-09-19 08:31] guanming001 commented on #15
@julienvalentin
https://colab.research.google.com/drive/1tJsOGI2n8pOvjCjPLAgG2m5BkxulTn7i

[2019-09-19 08:51] julienvalentin commented on #15
This is fixed in the github version, but not in the package until the next release.

This https://colab.sandbox.google.com/drive/1LE0I6qhPilwer5Zs-S7tjkwVxseUvtZK#scrollTo=u_W456-Xtewn to see how to manually apply that patch

[2019-09-19 08:56] guanming001 commented on #15
@julienvalentin  Thank you for your quick response!

[2019-09-27 13:19] julienvalentin commented on #27
Inactive thread, closing.

[2019-09-27 13:19] #27 closed

[2019-10-06 10:56] bhack opened #107 "Image in two namespaces"
I think It is going to create a little bit of fragmentation/confusion if we go to grow two image namespaces:

https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/image

https://www.tensorflow.org/graphics/api_docs/python/tfg/image

[2019-10-08 23:08] ehsuun commented on #15
Hi @julienvalentin could you please make the final link you posted public?
I have sort of the same issue. Using `vector.dot` in a loss function gives me the AttributeError: 'int' object has no attribute 'value' error in tf 2.0
https://colab.research.google.com/drive/1TTtNwEF4TjWQoXdvjpWky-dnXN1zFu13

[2019-10-09 06:03] julienvalentin commented on #15
updated my message above to contain the fix

[2019-10-09 17:41] podlipensky commented on #54
We haven't explored Tensorflow.js yet, feel free to create PR if you think it can be valuable for others.

[2019-10-09 17:41] #54 closed

[2019-10-09 17:42] podlipensky commented on #55
The latest version of the plugin does support non-fixed point cloud size.

[2019-10-09 17:42] #55 closed

[2019-10-09 17:42] podlipensky commented on #56
I'll update the ticket when we add Jupyter support.

[2019-10-09 17:43] podlipensky commented on #81
Will look into this.

[2019-10-10 14:14] julienvalentin commented on #107
This is a very good point; we will discuss how to best proceed with the TF team

[2019-10-10 16:01] bhack commented on #107
On pytorch ecosystem Kornia has this package organizzation:

https://kornia.readthedocs.io/en/latest/

[2019-10-14 09:53] VikramRadhakrishnan opened #111 "Levenberg-Marquardt optimizer shows unexpected results"
Hello,

I have been trying to use the Levenberg-Marquardt optimizer to find the minimum of a quadratic function. Based on my understanding, with a purely convex function, LM should converge to the global minimum irrespective of the initial guess.

This is the function I am trying to minimize:
[code]

This is a function with a global minimum at x=0.9. However, when I run the optimizer as follows:
[

[2019-10-14 16:43] ShettyHarapanahalli opened #112 "Street view as input"
Just wondering, if we feed streetview images for this what can be expected results ...

[2019-10-14 17:51] julienvalentin commented on #112
This question is too broad. Please describe what the intended tasks are.

[2019-10-14 19:15] julienvalentin commented on #86
Thanks Avneesh for resolving this!

[2019-10-14 19:15] #86 closed

[2019-10-15 13:15] ShettyHarapanahalli commented on #112
let me put it 2 phases if a 360 deg images of a room is shared for this model will I be able to localize the camera from a different position, usage of this for AR or mixed reality can get better results.  putting this on street view/maps will be able to generate 3D map of the street, get a better understanding of surroundings for autonomous vehicles and help localize them with just visual informa

[2019-10-15 14:49] ankitpatnala opened #113 "Issue creating my own dataset before training"
I see that in mesh_segmenetation_demo.py we use tfrecordfiles for training.
in the example i am getting it directly from keras dataset but i want to create something from .obj files. How can i convert my obj files to tfrecords file.
as i see the feature is 'labels' : _byte_feature
'num_vertices' : _int_feature
'num_traingles; : _int_feature
'vertices'  : _byte_feature
'traingles' : _byte_feature

[2019-10-17 00:27] avneesh-sud commented on #113
Hi ankitpatnala,

This seems a dup of issue #14 (https://github.com/tensorflow/graphics/issues/14). PTAL at the suggestions there, and let us know if that resolves your question.

[2019-10-17 06:43] ankitpatnala commented on #113
I somehow found that but I have another issue. During training do we need to assign each vertex a label. What if number of vertex for each mesh is different ? Will it be possible to train ?

[2019-10-18 07:18] ankitpatnala commented on #113
<ipython-input-13-a5dc8fe3ad60> in <module>()
      9 with input_graph.as_default():
     10   mesh_load_op = dataio.create_input_from_dataset(
---> 11       dataio.create_dataset_from_tfrecords, record_file_test, test_io_params)
     12   with tf.Session() as sess:
     13     test_mesh_data, test_labels = sess.run(mesh_load_op)

3 frames
/usr/local/lib/python3.6/dist-packages/tensorflow_graphics

[2019-10-18 08:32] ankitpatnala commented on #113
No worries. I found the problem . I was using tf2 which i sin eagerly mode and it couldn't recogninze the syntax . setting the early_execution to false serves my purpose

[2019-10-18 08:57] julienvalentin commented on #113
Glad that you resolved this!
Closing

[2019-10-18 08:57] #113 closed

[2019-10-22 13:11] ankitpatnala opened #120 "How to get the weights"
I used mesh_segmentation_demo.py code of yours on my dataset. I saved all the checkpoints but how can i get the weights of the synapses matrix ?

[2019-10-23 22:55] podlipensky commented on #81
I got different error: Merging tf.summary.* ops is not compatible with eager execution.
As for now the plugin doesn't support Eager execution. But it still works with TF2.0.

[2019-10-24 16:03] liuppboy opened #123 "Render too slow on GPU"
I use the [rasterizer](https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/rendering/rasterizer.py) for rendering 3D vertices to 2D image, but it turns to be rather slow on gpu (even much slower than on cpu). Can it run faster? Thanks!

[2019-10-27 12:14] oracle3001 opened #124 "AttributeError caused by tensor.shape[axis].value in shape.py compare_dimensions"
When using Tensorflow 2.0 nightly, if I use the spherical_harmonics.evaluate_spherical_harmonics in a custom layer, I get the following error.

[code]

caused by

`int(tensor.shape[axis]) if tensor.shape[axis].value is not None else 1`

[2019-10-30 15:47] oveddan opened #125 "Request: Example for how to use ray.triangulate"
This repository is awesome and I can't wait to see what comes out of it.  I'm glad there seems to be a tensorflow based version of triangulation.

It would be great if there was an example of how to use the `ray.triangulate` method.

A common use case is you have multiple cameras with known intrinsic and extrinsic parameters, and the same points visible from each camera, how can you triangulate th

[2019-10-31 12:02] julienvalentin commented on #124
Hi!

Could you create a minimal example reproducing the error on https://colab.research.google.com/?

Best.

[2019-10-31 12:06] julienvalentin commented on #123
Hi @liuppboy,

The current version of the rasterizer in pure TF / python is getting reworked by @cem-keskin as we speak. If you need something fast on GPU, I invite you to check the OpenGL Rasterizer. The final PR (batching) is currently in review.

Best.

[2019-10-31 12:07] julienvalentin commented on #120
@avneesh-sud and @amakadia should be able to assist.

Best.

[2019-10-31 12:17] ankitpatnala commented on #120
Is this feastNet algorithm translation , rotational and scalability invariant ? Paper had information about translation invariant but not the other two !

[2019-10-31 18:02] sofienbouaziz commented on #111
In this case what the LM optimizer will be optimizing is tf.square(y). This is because the API provided by tfg takes the residuals. I will update the doc to make this a bit more clear. The function that you are optimizing has two optimas and the LM optimizer finds correctly one of them.

<img width="1467" alt="Screen Shot 2019-10-31 at 10 58 56 AM" src="https://user-images.githubusercontent.com/66

[2019-10-31 18:06] sofienbouaziz commented on #111
To make this a little more clear LM minimizes a sum of square functions and what tfg expects are a list of functions and internally it will take care of squaring and summing these functions.

[2019-10-31 18:06] #111 closed

[2019-10-31 18:46] avneesh-sud commented on #120
Hi @ankitpatnala

The mesh-segmentation-demo colab notebook demonstrates how to load saved checkpoints from a trained model (see under 'Test model & visualize results').

FeastNet using extrinsic coordinates is not rotation or scalability invariant.

[2019-10-31 18:46] #120 closed

[2019-10-31 18:54] cem-keskin commented on #124
Please make sure you are using the latest version of tf_graphics, as this
problem should have been solved a while ago.

On Thu, Oct 31, 2019 at 5:02 AM Julien Valentin <notifications@github.com>
wrote:

[2019-10-31 19:42] oracle3001 commented on #124
AFAIK, I am using the latest version from Git. There appears to be an outstanding pull request on this issue,

https://github.com/tensorflow/graphics/pull/109

[2019-10-31 23:58] cem-keskin commented on #124
OK, working on a fix now, thanks.
Just to clarify, do you disable eager execution, or do you use tf.function
decorator?

On Thu, Oct 31, 2019 at 12:42 PM oracle3001 <notifications@github.com>
wrote:

[2019-11-01 11:08] julienvalentin commented on #125
Hi @oveddan ,

A couple of pointers:
1. we have a few camera models in rendering/camera. These models are equipped with a ray method that does what you are after
2. I believe that https://www.tensorflow.org/api_docs/python/tf/meshgrid would be a good choice

We are always after contributions from the community, so if you are interested to write a short tutorial in the form of a Colab on the proble

[2019-11-01 11:10] julienvalentin commented on #112
I would suggest that you to define the technical bits you need to realize what you have in mind and browse the documentation. A couple of things you describe can indeed be done.

[2019-11-04 10:40] dong100136 opened #128 "Request: camera distortion for camera project api"
hello, when i use this library, i find it's camera project api which project 3d points into camera pane,  only take care of fx,fy, but not including  distortion.

tfg.rendering.camera.perspective.project

[2019-11-04 10:50] julienvalentin commented on #128
Hi @dong100136

In case you did not notice it, the camera module comes with radial distortion: tensorflow_graphics/rendering/camera/quadratic_radial_distortion.py

Best.

[2019-11-04 16:07] oveddan commented on #125
Thanks for the pointers @julienvalentin

Good to see that the `camera` functions have methods to unproject rays.
That being said, it doesn't seem like they take a model view transformation parameter, which is necessary for my case.

In my case, I'm using opencv calibration results from multiple real world cameras, and 2d corresponding points, to triangulate to 3d.  I got something working using co

[2019-11-04 19:36] oveddan opened #129 "Is it possible to get "certainty/weights" as a result of triangulate?"
The [triangulate](https://www.tensorflow.org/graphics/api_docs/python/tfg/geometry/representation/ray/triangulate) function takes as a parameter a tensor of weights/certainties.

How can you determine the certainty of the output triangulated points?  Would it be possible to append weights to the tensor that is returned?

[2019-11-05 03:11] dong100136 commented on #128
Thanks for reminding, this api helps me a lot.
The doc didn't mention it, should we update the doc?

[2019-11-05 03:17] #128 closed

[2019-11-05 12:08] julienvalentin commented on #125
Hi @oveddan ,

If you need to transform points from world to camera coordinates, you can use any transformations in tensorflow_graphics.geometry.transformation for this purpose.

Best.

[2019-11-05 12:08] #125 closed

[2019-11-07 16:01] julienvalentin commented on #123
Closing .

[2019-11-07 16:01] #123 closed

[2019-11-07 16:03] #112 closed

[2019-11-07 17:45] anastasia-tkach commented on #129
The implemented triangulation algorithm does not output certainties of the triangulated points.

[2019-11-12 09:02] julienvalentin commented on #129
Thanks for your swift answer @anastasia-tkach !

@oveddan this should be a relatively simple extension; would you be interested in implementing that?

[2019-11-12 16:19] oveddan commented on #129
I'd be glad to do it!  Could you please explain how the algorithm would be extended to support this?

[2019-11-12 21:24] MaximeLemonnier-Leddartech opened #131 "import time too long"
using latest pypi version
https://files.pythonhosted.org/packages/d1/5d/b84b85322723aef25e5069596438a92dc7d5d1035ee11947e2105315eaa2/tensorflow_graphics-1.0.0-py2.py3-none-any.whl (243kB)

executing
`import tensorflow_graphics`

... takes over 35 sec to run, is that normal?

Thanks for the great library, anyways!
you guys rock!

[2019-11-13 15:32] julienvalentin commented on #131
Hi @MaximeLemonnier-Leddartech

Can you mention how long importing tensorflow is on your system?

Best.

[2019-11-13 20:26] MaximeLemonnier-Leddartech commented on #131
Hi, it takes 4 seconds (cpu).

On another machine (with GPU),
tensorflow takes 3 sec
tensorflow_graphics takes 15 secs (just noticed, much better, but still a tad long in some debugging scenario)
Thanks!

[2019-11-13 20:30] MaximeLemonnier-Leddartech commented on #131
btw, I'm currently ignoring these warnings
`Warning: To use the exr data format, please install the OpenEXR package following the instructions detailed in the README at github.com/tensorflow/graphics.
Warning: To use the threejs_vizualization, please install the colabtools package following the instructions detailed in the README at github.com/tensorflow/graphics.`

Also, after a reboot, import te

[2019-11-13 21:08] bhack opened #132 "Add Roadmap.md"
Is there a roadmap for this TF subprojects.
Seems that It Is very low resource so It Is interesting if you can share TF plans/expectation on this.

[2019-11-18 19:56] julienvalentin commented on #132
Hi @bhack

Thanks for your question!
We will release 1.1 around the end of the year / early next year, packing a flexible and fast renderer leveraging OpenGL + new tutorials. I am also hoping to see more and more contributions from the community, especially in terms of state of the art models.

After 1.1, we will transition to a much more community-lead, both in terms of directions and implementat

[2019-11-18 20:13] bhack commented on #132
Anything specific but users/devs just want generally want to have an outlook on tools to adopt, expecially for subprojects in early stages like this one.
Other libs are published like https://github.com/NVIDIAGameWorks/kaolin.
So I think that It Is useful to give a Roadmap perspective and if It Is a single Dev project or if TF can build up  enough momentum/resource on this.

[2019-11-20 00:14] bhack commented on #132
One of the interesting topics could be to analyze what Is missing about a differntiable slam like [gradSLAM](http://montrealrobotics.ca/gradSLAM/).
Code will be release mid Jan 2020 but is pytorch based.

[2019-11-20 11:28] etnikg opened #134 "Segmentation of dataset"
HI,
I want to train the model with the same dataset but with different segmentation(e.g. to train for detecting only legs and the rest). Is there any tool to done that or I have to associate manually for each vertex- a label (and if this is, how can I do that)?

[2019-11-21 13:05] julienvalentin commented on #132
I am currently working on setting up a Special Interest Group, which will make this library much more community lead, both in terms of directions and contributions.

The current overarching themes I had in mind are differentiable 3D (SLAM is part of this), Graphics, and neural rendering in order to have useful tools for the community to efficiently advance their research and make the outcome of th

[2019-11-21 13:06] julienvalentin commented on #129
@anastasia-tkach please let @oveddan know when you get a chance!

[2019-11-21 13:07] julienvalentin commented on #124
@oracle3001 and @cem-keskin is this resolved?

[2019-11-21 13:09] julienvalentin commented on #56
Given the current scope, I think it is fair to assume that we will focus on Colab. We would nevertheless be more than happy to have a discussion regarding Jupyter support if this is something you want to develop.

[2019-11-21 13:09] #56 closed

[2019-11-21 13:31] bhack commented on #132
If you want you could try to get in contact with speakers and organizers at http://www.visualslam.ai

[2019-11-21 19:25] cem-keskin commented on #124
Yes this should have been fixed about 3 weeks ago.

On Thu, Nov 21, 2019 at 5:07 AM Julien Valentin <notifications@github.com>
wrote:

[2019-11-21 20:15] fulkast commented on #129
Hi @julienvalentin @oveddan!
I was interested in solving this problem as well. However, after reading the algorithm I realised that the `weights` in the current interface only facilitates the solving of the weighted least squares problem. It allows rays with higher weights to have more influence on the resultant points.

To derive uncertainty of the result points one would need to propagate inform

[2019-11-21 21:01] julienvalentin commented on #129
@fulkast indeed the distance from the points to the computed solution is a good measure

[2019-11-21 21:58] fulkast commented on #129
@julienvalentin that sounds good!

Naturally, the bulk of the set up of the algorithm would be identical to the `triangulate` function. For a first pass, would you recommend just duplicating the code before refactoring out the commonalities?

[2019-11-21 22:04] julienvalentin commented on #129
@fulkast yes let's do that

[2019-11-26 09:07] fulkast commented on #129
Hi @julienvalentin, @oveddan

I've found that there already exists a `distance_to_ray` function in the `point` module. In the interest of maintainability perhaps it would be better to use that instead?

In that case, the following snippet calculates the weighted average distance from the triangulated points to the rays:

[code]

In accordance with the documentation for `triangulate` the snippet ab

[2019-11-27 18:06] geromidg commented on #81
It seems as of https://github.com/tensorflow/tensorboard/commit/fbfaa250d724c387edc6aa3bb5fdb0175eed16b4 there is support for TF 2.0.

Just change
- `from tensorboard.plugins.mesh import summary` to `from tensorboard.plugins.mesh import summary_v2`
- `mesh_summary.op()` to `mesh_summary.mesh()`

The following is working with TF 2.0.0 and TB 2.0.2 for me.

[code]

[2019-12-05 10:13] #124 closed

[2019-12-05 16:56] avneesh-sud commented on #134
You should be able to generate a new labeling by creating a map from existing label ids to desired part labels. See the image at top of the demo notebook mesh_segmentation_demo.ipynb for existing part definitions. For eg if you want a binary label {legs vs rest}, you can map {head, chest, abdomen, pelvis, *arm, *hand} -> 0, and {*leg, *foot} -> 1.

[2019-12-05 16:56] #134 closed

[2019-12-09 14:17] ankitpatnala commented on #120
Hi @avneesh-sud ,
I am quite new to software and machine learning world. I have some silly queries.
The architecture in mesh-segmentation-task. Does it have any FCN ? i could only see the tf.keras.CONV1D. Why was no dropout choosed ? Do we have softmax activation function at the output layer ?
My problem:
I am currently working with some models which has varied number of vertices in a mesh.it was

[2019-12-09 14:19] ankitpatnala opened #137 "Problem in my network"
Hi @avneesh-sud ,
I am quite new to software and machine learning world. I have some silly queries.
The architecture in mesh-segmentation-task. Does it have any FCN ? i could only see the tf.keras.CONV1D. Why was no dropout choosed ? Do we have softmax activation function at the output layer ?
My problem:
I am currently working with some models which has varied number of vertices in a mesh.it was

[2019-12-11 09:59] bhack commented on #132
Another interesting topic to evaluate "Geometric Capsule Autoencoders for 3D Point Clouds":

https://arxiv.org/abs/1912.03310

[2019-12-12 16:10] Anvom commented on #14
It could be very helpful for me to have a look at your code. Is there a way to share your code?

[2019-12-12 17:06] simofoti commented on #14
Hi @Anvom,

I haven't used that code since then, but it should still run (hopefully). Since there is not much, I will just paste here the latest version I have.

[code]

[2019-12-26 06:28] LeemeetElaine opened #143 "a problem in shape.py"
when I use the API tfg.geometry.representation.grid.generate, there is an error

`AttributeError: in converted code:

    tfg_geometry_grid_gen.py:31 call  *
        tensor_grid = tfg.geometry.representation.grid.generate((0,0),(shape[1]-1,shape[2]-1),(shape[1],shape[2]))
    /home/kunb/Installed/anaconda3/lib/python3.7/site-packages/tensorflow_graphics/geometry/representation/grid.py:118 generate

[2019-12-26 22:08] fulkast commented on #143
Hi @LeemeetElaine,

It appears the line you mentioned (`shape.py:374`) has changed since commit f41134d. The `value` attribute no longer exists on the line you mentioned. Have you tried running your code with the latest revision of the code?

[2019-12-27 11:48] LeemeetElaine commented on #143
thanks a lot, I installed tfg by pip ,so maybe it's not the latest version

[2019-12-27 11:48] #143 closed

[2020-01-13 16:59] peteflorence commented on #15
I ran into this issue on tensorflow 2.1.0, and tensorflow_graphics 1.0.0.
The fix by @julienvalentin worked for me. Since whitespace in Python matters, here it is copy-pastable:
[code]

[2020-01-15 04:59] ecpoppenheimer opened #152 "Incorrect quaternion result with between_two_vectors_3d"
When I use quaternion.between_two_vectors_3d, to generate a quaternion to from +x-axis to -x-axis (180 degree rotation, going from (1, 0, 0) to (-1, 0, 0)) the result is incorrect: a tensor of zeros.  If I instead go from (1, 0, 0) to (-.999, .001, 1), the result is correct.

Also, the function doesn't work correctly with a tf.function decorator, which is annoying but tolerable.  Other people have

[2020-01-15 09:46] julienvalentin commented on #131
Hi @MaximeLemonnier-Leddartech

Sorry for the late reply; I am able to replicate and will look into it for the next release.

Best.

[2020-01-15 09:54] julienvalentin commented on #129
Let us know @oveddan!

[2020-01-17 12:46] tetterl commented on #132
@julienvalentin any estimation when 1.1 will be released? Will it have the ability to render textures (including backpropagation) to learn/train textures?

[2020-01-17 14:44] michele-arrival opened #153 "Improved/updated installation instructions for new rendering functions"
As a potential user of bleeding-edge features like the opengl renderer it would be usefult to have some instructions updated to show how to install the package.

In other words, I would like to test the opengl renderer and i haven't found a way to install the tensorflow-graphics package in my python environment that includes the gen_rasterizer_op native funcitons. I can build them but i have no id

[2020-01-17 15:46] julienvalentin commented on #153
Hi Michele,

Thanks for reaching out and your interest!
We are currently battling with some packaging problems involving the
rasterizer, but we are hoping to come to a conclusion soon.

Best.

On Fri, Jan 17, 2020 at 3:44 PM michele-tra <notifications@github.com>
wrote:

[2020-01-21 23:57] swilson314 opened #156 "Levenberg Marquardt as Keras loss function"
I've been using LM for many years and we currently use it for our in-house deep learning code. We are in the process of switching over to tf/keras and I'd like to continue using LM, which we often find produces better models than Adam when the datasets are small enough for LM. There are a handful of stackoverflow posts by other people who want to do this, but I haven't seen a resolution anywhere.

[2020-01-22 09:53] fulkast commented on #156
Out is curiosity, what's the typical size of a model that you mentioned being small enough?

[2020-01-22 18:18] swilson314 commented on #156
I've got a 96 core server with a ton of ram. Largest dataset I'm running is 1.5M cases with 2400 float inputs. Network is 5 layers and lower level layers use convolution that decreases number of variables by factor of 20.

[2020-01-22 21:28] fulkast commented on #152
I like how the current implementation uses the half angle formula and the normalisation to achieve the correct quaternion.

I've been giving the problem some thought. While it seems rather straightforward to fix the problem by adding a specialisation (using an if statement) for the degenerate case where the vectors are anti-parallel, I can't wrap my head around obtaining continuous derivatives for

[2020-01-23 20:07] ecpoppenheimer commented on #152
A continuous derivative might be necessary for some users who care about the quaternion itself, but I would imagine that most users are going to simply use the quaternion to rotate something, and the rotation should still be totally continuous, right?  My intuition is that discontinuities from the quaternion will cancel out during the rotation, and so the gradient of the whole process should be fi

[2020-01-29 07:24] gautam1858 opened #158 "Tensorflow graphics objects"
Hi is there a way to create our own object  *.obj, like cow.obj ?

[2020-01-30 07:53] sofienbouaziz commented on #156
This is because computing a Jacobian using backpropagation is inefficient. For that one might want to use forward propagation but it is not implemented in Tensorflow.

[2020-01-30 07:56] sofienbouaziz commented on #156
The TensorFlow Graphics implementation relies on calling multiple time backpropagation to build the Jacobian. I guess this could be ported as a keras optimizer but it would be useful only for small problems as it is not very efficient.

[2020-01-30 12:45] julienvalentin commented on #153
@michele-arrival I am closing this for now as this is a working item. We are making good progress so hoping to resolve this shortly.

[2020-01-30 12:46] #153 closed

[2020-01-30 12:49] julienvalentin commented on #158
I would recommend you have a look at Trimesh, as it can load / save .obj
https://github.com/mikedh/trimesh -- they have a pip package

[2020-01-30 12:49] #158 closed

[2020-01-30 17:27] avneesh-sud commented on #137
Hi @ankitpatnala

The architecture is based on FeastNet (without the graph pooling U-net layers). The conv1d implements the linear layers, and dropout is not needed.

The classification loss does have softmax activation in the cross entropy computation, look at loss = tf.losses.sparse_softmax_cross_entropy(...) in the colab demo.
We have trained with larger inputs >10k meshes, and it should conver

[2020-01-30 17:31] #137 closed

[2020-01-31 09:54] michele-arrival commented on #153
thanks for the updates!

[2020-02-02 09:09] AlonLahav opened #161 "Data source for semantic mesh segmentation"
Hi,

Can you please add a reference to the "dancer" dataset, which I can cite (is there a paper describing it)? I wish to have the source of the data and I didn't find any by searching the web.

Thanks,
Alon.

[2020-02-06 21:18] bhack commented on #132
I think a Roadmap It Is more interesting now that there Is another player: https://ai.facebook.com/blog/-introducing-pytorch3d-an-open-source-library-for-3d-deep-learning/

[2020-02-07 10:50] julienvalentin commented on #132
Hi @tetterl  and @bhack

I will work on a Roadmap, but would like to give you a heads-up about some directions:
- finish packaging the differentiable rasterizer [teaser WIP demo: https://storage.googleapis.com/tensorflow-graphics/communication/misc_github/face_fitting.gif]
- kick-start the Special Interest Group with the founding members. I will be finalizing the list of founding members soon. The

[2020-02-13 15:58] #156 closed

[2020-02-16 22:30] hemangchawla opened #173 "Camera undistortion (including quartic)"
Hello,

The current api only includes the undistortion for the quadratic term of the polynomial function. However, the general minimal use includes the quartic term as well.

Would that be included in the future?

Alternatively, could you please explain how was the following arrived at?

`undistortion = (1.0 - two_thirds_undistortion) / (
          1.0 + 3.0 * distortion_coefficient_times_distorte

[2020-02-17 19:32] dynamicwebpaige commented on #29
Pinging this thread - were you able to use TF-GFX to visualize, @kamelbelkadhi and @bionicles?

[2020-02-26 17:30] avneesh-sud commented on #161
Added to the notebook.

[2020-02-26 17:30] #161 closed

[2020-02-27 16:10] qianzhanginfo opened #189 "projection function for spherical harmonics"
The spherical harmonics rendering tutorial uses a tf_math.square_to_spherical_coordiantes projection to map the input square lighting function to a sphere. May I know the reason for this projection? Why not an equirectangular projection, which is used for environment maps?

`from tensorflow_graphics.math import math_helpers as tf_math

...

spherical_coordinates = tf_math.square_to_spherical_coord

[2020-02-27 23:51] bhack commented on #132
Gradslam will be released on April https://github.com/montrealrobotics/gradSLAM

[2020-02-28 12:06] julienvalentin commented on #189
Hi @qianzhanginfo!

Spherical harmonics (SH) are defined on a sphere. The mapping you point at allows to get, per pixel, it's corresponding spherical coordinate. This mapping is used for displaying the lighting function on an image although defined on a sphere. Hope this helps.

Best.

[2020-02-28 12:06] #189 closed

[2020-02-28 17:56] qianzhanginfo commented on #189
Thanks! Does this mapping apply to any lighting function defined on a sphere, including the equirectangular environment map? I would appreciate it if you could point to a reference for the square_to_spherical_coordinates mapping.

And it seems the height and width are swapped in the tutorial.

[2020-02-28 18:42] julienvalentin commented on #189
I would encourage you to use your favorite search engine for this ;)

[2020-03-09 20:57] fulkast commented on #152
Hi @ecpoppenheimer
1cb9eb from @podlipensky should have fixed the issue you mentioned above wrt incorrect question result. May you give this a try on your setup locally?

[2020-03-12 02:30] #152 closed

[2020-03-19 12:00] MadhavEsDios opened #208 "Integrating Mesh-RCNN as part of Tensorflow-Graphics (GSoc 20)"
My sincerest apologies for opening a completely unrelated issue. I wanted to get in touch with potential mentors who would oversee the MeshRCNN in Tensorflow-Graphics project, as I had a couple of important questions to ask.

Again I am sorry for opening an issue with regards to a problem that does not yet exist.

[2020-03-31 13:31] dkasuga opened #213 "Plan to implement Mesh Class"
Currently, a mesh is expressed as a dictionary object that has numpy arrays of vertices and faces as elements. However, it is more convenient if we can deal with mesh as object. Some properties and operations related to meshes should be combined as a class, like this:

[code]

If we implement such a class, we can use mesh objects as the arguments of the function to compute metrics and losses about

[2020-04-03 13:58] bhack opened #219 "Support 3D data augmentation"
https://arxiv.org/abs/2004.00831

[2020-04-08 18:54] isaacgerg opened #223 "Rasterizer"
I would like to replicate figure 3 from the tfg website: https://www.tensorflow.org/graphics/overview

The loss is computed in the image space.  To do this, I believe I need a differentiable renderer so that I can backpropagate the loses to my post estimate network.  However, in looking through the tfg source, I cant find a differentiable rasterizer.  Does one exist?

[2020-04-08 20:12] isaacgerg commented on #223
I figured this out, at least for the case of the sphere example.

[2020-04-08 20:12] #223 closed

[2020-04-08 20:12] isaacgerg opened #224 "https://www.tensorflow.org/graphics colab example broken"
This does not work out of the box.
[code]

[2020-04-09 11:07] fulkast commented on #224
@isaacgerg May you give some more information about what you are seeing, e.g. any error messages, prompts etc.?

[2020-04-09 12:39] isaacgerg commented on #224
[code]

[2020-04-09 14:14] fulkast commented on #224
Have you tried changing the line

`tf.enable_eager_execution()` to

`tf.compat.v1.enable_eager_execution()`?

[2020-04-09 14:26] isaacgerg commented on #224
@fulkast Hi, I did do this as shown in my comments in the first post.  I am able to fix the error no problem. I filed a github issue so the documentation is fixed on the website.

[2020-04-10 13:33] IDSPAGET commented on #13
Hi @Epsilon1024 , sorry to dig up a closed issue but I have the same problem with SparseReshape not having a GPU implementation.  I was wondering if you ever found a solution to your problem?

[2020-04-12 04:28] rlav440 opened #227 "Model failing to serialise as JSON while saving using model.Save()"
**System setup**
Ubuntu 19.10
TF versions 2.1.0 and 2.20 current nightly tested
TF-graphics built from current git source

**Error Behaviour**
Model is defined using Keras Functional API, attempts to reproduce the example Mesh segmentation on a different dataset. Uses the FeatureSteeredConvolutionKerasLayer to do this.
While saving raises this message:
[code]
Saving eventually fails with the messa

[2020-04-12 04:55] rlav440 commented on #227
In writing a minimal code example, I found that removing the graph convolution layers allows the model to save - so the error is dependant on TF_graphics

[2020-04-13 15:30] chrysmun opened #229 "[details] tf graphics colab for mesh segmentation broken"
hi, si out of box the mesh segmentation colab is broken.

imho the colab loads tf 2.2 which is incompatible with the current tfgraphics.
oddly locally it works with tf1.14 but trains for 1 second and stops.

the example used to work i know in january/february. now the error message in colab is:

WARNING: Logging before flag parsing goes to stderr.
W0413 15:27:09.518968 139640493516672 deprecation.

[2020-04-13 18:04] osanseviero commented on #229
Hi @chrysmun. Thanks for reporting this. The Mesh Segmentation colab only works with TF 1 for now. There's already a [PR](https://github.com/tensorflow/graphics/pull/215) solving this issue.

[2020-04-13 19:39] ataiya opened #230 "Merge tensorflow-graphics-gpu and tensorflow-graphics"
Since version 1.15 (November 2019) TensorFlow has dropped the -gpu version of their repos.
There is now no difference between these two install modes:

[code]

Simply, the GPU versions are used if GPUs + drivers + libraries are available
To be consistent with the parent repo, we should also adopt the same structure for TFG?

[2020-04-16 09:44] osanseviero commented on #208
Hello Madhav!

Sorry for the late reply. Unfortunately, the applications for GSOC have closed. We plan to create some [good first issue] and [contributions welcome] issues if you want to contribute to TF Graphics.

Thank you!

[2020-04-16 10:18] julienvalentin commented on #230
Yes we should certainly do that for the next release of the package; Thanks for raising.

[2020-04-16 10:46] #230 closed

[2020-04-16 10:57] julienvalentin commented on #224
Thanks for raising and submitting a fix. The PR is in internal review and your changes deployed soon!

[2020-04-19 02:28] ataiya commented on #131
Until this is fixed, if you are a contributor, you can remove most of the `from tensorflow_graphisc.* import*` from the `__init__.py` files. I removed these from
[code]

And `import tensorflow_graphics.nn.layer` went from 30s import time to 1s.

And if you are a contributor, you can avoid these to be picked up by a commit with:
[code]

This is just a temporary hack, while we work in addressing it

[2020-04-19 02:29] ataiya opened #240 "Convert default linter from flake8 to pylint"
TensorFlow seems to be using a different linter:
https://www.tensorflow.org/community/contribute/code_style

We should swap out flake8 for pylint, and just inherit the TF2 lint options?

[2020-04-20 01:18] jackd commented on #227
`get_config` and keras object registration [here](https://github.com/tensorflow/graphics/pull/242).

[2020-04-20 12:33] julienvalentin commented on #240
Thanks Andrea!

Sofien set flake8 up for us, so reassigning to him

[2020-04-20 12:34] julienvalentin commented on #240
Besides TF using another Linter, can you mention what you see as advantages for us to make the switch?

[2020-04-20 15:50] ataiya commented on #240
I have noticed the linter was more thorough, and more closely matched the
internal (Google) one.

[2020-04-20 21:58] osanseviero commented on #224
This is fixed now :) Thanks @Molkree for the fix!

[2020-04-20 21:58] #224 closed

[2020-04-21 02:14] jackd opened #246 "keras mesh segmentation implementation?"
I recently hacked up a quick [tf.keras port](https://gist.github.com/jackd/f62cfc5e548876fc05af5610587f0704) port of the mesh segmentation demo notebook. Is there any interest in me pretty-ing it up for a notebook contribution?

[2020-04-21 11:22] Molkree commented on #224
Code snippet on the page still shows old code though.

[2020-04-23 10:20] saahiluppal opened #252 "While pyramid downsampling, i'm getting this error "TypeError: No loop matching the specified signature and casting was found for ufunc true_divide"."
while just testing for something i found that  tfg.image.pyramid.downsample gives me the following error:
TypeError: No loop matching the specified signature and casting was found for ufunc true_divide

here's the colab reference to this.
https://colab.research.google.com/drive/1OUs2LTAIC5xlzc_6SrnoByv22hEnuAis

[2020-04-24 03:50] #208 closed

[2020-04-24 12:16] MadhavEsDios commented on #208
Hi @osanseviero , unfortunately it seems that due to the pandemic, I am not eligible to participate in GSoC, as I could not finalize my admission into a Master's program due to a lockdown in my country.
However, I would still like to work on this project voluntarily (unless some eligible student's proposal has already been selected).
If you do not mind, I would really appreciate if you could go th

[2020-04-26 16:40] osanseviero commented on #224
Page is updated. Thanks!

[2020-04-28 17:43] osanseviero commented on #229
Hello @chrysmun. This issue is solved now. Thanks for reporting it!

[2020-04-28 17:43] #229 closed

[2020-04-28 21:28] sofienbouaziz commented on #252
Thanks for reporting this issue. Unfortunately it seems that the colab link is not working or I might not have the permission to access it.

[2020-04-30 05:11] saahiluppal commented on #252
Here's the gist
https://gist.github.com/saahiluppal/2cf1848574d562c9c54db7c0da4fd9bb

both upsampling and downsampling gives same error

[2020-04-30 08:47] IDSPAGET opened #278 "No GPU support for graph convolutions"
Hi,

I have the same issue referenced at the end of  https://github.com/tensorflow/graphics/issues/13
Namely the ops SparseReshape does not seem to have GPU support.
My code runs fine with automatic device placement but gives this when I force the placement of graph convolutions on gpu0.
[code]
I have the same error on windows and linux with tf 1.15 and cuda 10.

[2020-04-30 11:39] javidcf opened #281 "Inconsistent reduction code in graph convolution"
I was browsing through the graph convolution code and saw the [reduction code](https://github.com/tensorflow/graphics/blob/228472e31327635e80220a740f13d672252bec9f/tensorflow_graphics/geometry/convolution/graph_convolution.py#L268-L279) (including the not yet published `max` reduction option), which currently reads like this:

[code]

As can be seen, the `weighted` reduction method uses [`tf.math.

[2020-04-30 21:37] drebain opened #282 "Marching Cubes Operation"
It could be very useful to have a (potentially differentiable) marching cubes implementation for projects that work with implicit shape representations. Is this something that there would be interest for as a contribution?

[2020-04-30 22:05] jackd commented on #282
I looked at this a while back and found it wasn't very useful in practice - at least for my research - and that my pure tf port was slower than wrapping existing implementations and using some dirty (albeit correct) gradient hacking. I haven't looked at it for quite a while so it'll need some cleaning up, but if you're starting from scratch feel free to take whatever you'd like from [here](https:/

[2020-04-30 22:58] ataiya commented on #131
Alright, the speedup update is rolled out, please take a look, and re-open if you have any problem/question.

[2020-04-30 22:58] #131 closed

[2020-05-01 11:46] oracle3001 opened #283 "Numerical Instability Issue with cartesian_to_spherical_coordinates when using TF 2.2 RC4"
Using the latest TFG code from Github, TF 2.2.0 RC4, Python 3.7 on a Windows 10 box,  when using cartesian_to_spherical_coordinates function there appears to be some numerical instability has been introduced. Using TF 2.1 doesn't have this issue.

A set of points located on the surface of a unit sphere (provided in the zip file) and running the following code, results in the following output.

[te

[2020-05-04 20:58] drebain opened #288 "Bounding volume hierarchies for collision detection/raycasting"
I'm interested in implementing a GPU accelerated BVH module based on Morton Codes along the lines of [this](http://graphics.snu.ac.kr/class/graphics2011/references/2007_lauterbach.pdf). I have written a very naive version of the tree construction function [here](https://github.com/drebain/graphics/commit/04e8df79ecb0d253c00a4e1e1ec177d8e1158bbf) as a demo for what this could look like.

BVH functi

[2020-05-04 22:19] ataiya commented on #288
Added @G4G to start a discussion.

[2020-05-05 06:33] julienvalentin commented on #282
Hi Daniel! Glad to hear from you!
This would indeed be a very interesting piece!

[2020-05-05 14:16] julienvalentin commented on #283
Thanks for reporting this @oracle3001 !
We submitted a patch https://github.com/tensorflow/graphics/pull/284

Feel free to re-open in case the problem did not completely dissapeared.

[2020-05-05 14:16] #283 closed

[2020-05-05 15:31] oracle3001 opened #292 "Build From Source Fails with latest code on Windows 10 Python 3.7"
As of 05/05, when trying to build the code on a Windows 10 box using Python 3.7, Tensorflow 2.2 RC4, the usual build_pip_pkg.sh command fails.

I can successfully build from the April 30th commit.

[code]

[2020-05-05 15:56] sofienbouaziz commented on #252
This is because the image that you are using is in uint8 for the time being you can fix this by casting your image to float, e.g.,
img = tf.cast(tf.image.decode_image(img, channels=3), dtype=tf.float32) / 255.0
I will think what is the best way to fix this, either casting internally to float and casting back to the original dtype or raising an error.

[2020-05-06 05:11] saahiluppal commented on #252
That was a silly mistake.
Thanks for guidance.

[2020-05-06 05:11] #252 closed

[2020-05-06 18:46] avneesh-sud commented on #281
Hi david

We had previously encountered gradient errors with unsorted_segment_max, which seems to have been fixed in latest TF build, will incorporate the suggestion.

[2020-05-07 00:06] ataiya opened #295 "tensorflow_datasets corrupts pytest execution"
When testing the repo with pytest everything works, but the datasets folder:
[code]

In the test modules this can be avoided flushing the registry:
[code]

But this should not be needed.
Working with the TFDS team to resolve the problem.

[2020-05-07 00:16] ataiya commented on #295
@segaviv this will also affect you, please percolate to ShapeNet

[2020-05-07 13:13] julienvalentin commented on #292
Hi @oracle3001

The error at the end of this log seems to be that a file already exists; could that be a matter of deleting an already created build?
I let you confirm that there is indeed a problem.

Best.

[2020-05-07 13:15] julienvalentin commented on #227
With your thumbs up I assume that your problem is solved; closing.
Feel free to re-open if that is not the case!

[2020-05-07 13:15] #227 closed

[2020-05-07 13:16] julienvalentin commented on #173
@hemangchawla closing for now as you don't seem to have the bandwidth for this.

[2020-05-07 13:16] #173 closed

[2020-05-07 13:16] julienvalentin commented on #129
Closing as this has been idle for a while.

[2020-05-07 13:16] #129 closed

[2020-05-07 13:17] julienvalentin commented on #81
Closing as it seems that things are working as intended

[2020-05-07 13:17] #81 closed

[2020-05-07 13:37] oracle3001 commented on #292
This was the first time run in a clean directory. I have since repeated this i.e. copy code from github into a clean directory, run and same again.

Furthermore, never had this issue previous to this date. Have been able to re-run build script without any issues.

[2020-05-07 21:22] ataiya opened #300 "Deprecation warning while testing euler_test.py"
[code]

[2020-05-07 21:26] ataiya opened #301 "Remove blaze python testing in favor of pytest"
Bazel (BUILD files) is not commonly used outside of Google (for python), and this can cause a bit of friction for contributors that want to work on TFG. The plan is to update the testing ecosystem to pytest (note unittest is executed internally), and update TravisCI to reflect this.

Note that C++ portions of the library will keep using Bazel/BUILD.
This is only for the python portions.

[2020-05-07 21:33] ataiya opened #302 "Prepare "how to contribute" guide (Wiki)"
This will be needed for the three upcoming Google Summer of Code projects.

Few notes:
- three level contributions: {core, project, submodule}
- fork process
- setup pythonpath
- pull request process
- how to test, and how much to test
- ensuring code coverage
- google style linting
- TravisCI
- running locally vs. on ai-platform

Let me know if you think I am missing something?

[2020-05-08 11:57] oracle3001 commented on #292
Seems to have resolved itself with latest pull from git.

[2020-05-08 11:57] #292 closed

[2020-05-08 12:00] oracle3001 opened #305 "Not detecting TF Nightly when installing from whl."
After building the whl file from the latest branch, if you are running tensorflow nightly, rather than a stable release e.g. tensorflow 2.2, when you pip install the built whl file, it doesn't recognize you already have tensorflow > 1.15.1 installed and thus goes and retrieves the latest stable build and installs that over the top of tf-nightly, which then causes issue. So you can to go through an

[2020-05-08 12:17] oracle3001 opened #306 "Numerical Instability Issue with cartesian_to_spherical_coordinates (reopen)"
Firstly, sorry for the new post, I can't see how to reopen the original issue.

As previous reported on #283 , this issue is still present when using the latest pull from tensorflow graphics repository and using Tensorflow 2.2 (official release).

All the same test code / resultant output as previously described.

[2020-05-08 13:35] oracle3001 commented on #306
Edit :- I believe I have worked out the issue.

The problem only appear to arise when using a version of tensorflow that has been built to make use of AVX2 optimization.

[2020-05-08 15:57] ataiya commented on #301
Addressed in in PR #296

[2020-05-08 15:57] #301 closed

[2020-05-08 18:26] osanseviero opened #307 "Add ScanNet"
Add [ScanNet](http://www.scan-net.org/) to datasets. An example of how to do this can be found for [ModelNet](https://github.com/tensorflow/graphics/tree/master/tensorflow_graphics/datasets/modelnet40). There’s also a guide in TensorFlow Datasets documentation for [adding a dataset](https://www.tensorflow.org/datasets/add_dataset).

[2020-05-08 18:28] osanseviero opened #308 "Add Mipmap"
[MIP mapping](https://en.wikipedia.org/wiki/Mipmap) is a technique where an original high-resolution texture map is scaled and filtered into multiple resolutions. This requires constructing a pyramid of images and sampling the good level. A detailed explanation can be found [here](https://cglearn.codelight.eu/pub/computer-graphics/textures-and-sampling).

[2020-05-08 22:21] rlav440 commented on #227
Hey, sorry - the issue isn't fixed: I haven't tested the proposed commit yet personally. I've been recompiling/loading the weights rather than using models.load_model() in the mean time as a temporary workaround. If it would be useful, I can prioritise confirming that the pull request solves my issue.
(can't reopen issue as I'm not a collaborator)
Cheers!

[2020-05-08 23:04] jackd commented on #227
Can confirm the error is related to serialization (though I suspect loading the saved model would not be possible without fixing the serialization issue). I suspect this is an issue for the tf core / keraas team though (I'm not a contributor though, just an interested party :) ).

[2020-05-09 01:21] ataiya commented on #305
Hi, we are preparing for the next release, where we will drop TF1 in favor of TF2
(as well as dropping python2, in the process)

Also, recently tf-nightly was broken, so we had to temporarily remove it from the Travis build.

[2020-05-09 01:27] ataiya commented on #295
It turns out that if an __init__.py is missing in a parent folder of a test, pytest will execute the module containing the test twice. If this module contains logic that should not be executed twice (as it is the case with TFDS, where module import registers all datasets), it will error.

This is obscure pytest behavior, as it violates the "import a module only once" pre-condition.
We should proba

[2020-05-09 01:28] #295 closed

[2020-05-09 01:30] ataiya commented on #308
@osanseviero you might want to indicate the path within the library where you think it would be good to have this implemented ;)

[2020-05-09 01:35] ataiya opened #309 "Use TFDS mock_data for pointnet_test"
Currently [this test](https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/projects/pointnet/train_test.py) uses logic that does not provide 100% code coverage; see the effect [here](https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/projects/pointnet/train.py#L133), where L133..L157 are not covered.

However, TFDS does provide functionality to have "fake" dat

[2020-05-09 02:02] drebain commented on #308
What would be the preferred way of representing a mipmap in the API? Presumably, the implementation would include a build operation and a sample operation, but this would require a way to pass the mip levels between the functions. Would a tuple of tensors suffice? Or would this warrant a dedicated class? I am curious to know the general preference on this as it would also apply to [my BVH proposal

[2020-05-09 02:05] rlav440 commented on #227
Thanks for the insight: I'm looking to get my model ready for a deadline next week so I'll hopefully verify your suspicions in the next few days.

[2020-05-09 10:39] jackd commented on #309
Writing tests? For other people's code? On data pipelining? On a weekend?

... you're lucky I'm in [quarantine](https://www.smartraveller.gov.au/while-youre-away/returning-australia) ;). https://github.com/tensorflow/graphics/pull/310

[2020-05-09 11:59] jackd commented on #302
Not specifically related to GSoC, but as someone who's keen to contribute whenever I find time:
* is there a formal/informal RFC process for medium sized/larger works?
* what is the expectation in terms of maintenance after a PR is accepted?
* format specifications (yapf? command line args?)

[2020-05-09 14:31] ataiya commented on #309
I hear you :) – I am doing the same – fantastic!

By the way, these are the project coding templates/example, so whatever we modify has a large potential impact to follow-up contributions. That is why I am investing in polishing the code as much as possible now.

In this regard, I discussed with the TSDF folks last night. My hope was that via this mechanism, and a tweak to modelnet40.load(...), it

[2020-05-09 15:09] ataiya commented on #302
- Yes, for RFC communication happens via this github issues channel
- Depends on what above I call "level of contribution"
  - core: you can help, but we are fully responsible
  - project: depending on how important it is we might maintain it, according to how useful it is. (e.g. PointNet is ubiquitous, so the fact that its training pipeline is well oiled is important, other contributions are less

[2020-05-09 19:20] ataiya commented on #240
Turns out the internal formatter "hg fix" has jut been open-sourced:
e.g. https://www.mercurial-scm.org/repo/hg/file/tip/tests/test-fix.t

As this is deployed with mercurial, we should check whether this would work with git.
@jackd this should also partially answer your question regarding **yapf**

[2020-05-09 19:24] ataiya opened #313 "Add MPI-INF-3DHP to datasets/ (3D human body tracking)"
This is a human tracking dataset collected by the MPI multi-view setup.
It contains images + 3D marker locations (AFAIK)

PDF: https://arxiv.org/abs/1611.09813
[code]

[2020-05-09 19:26] ataiya commented on #313
Potential baselines associated with this dataset (might branch out to separate task):
"HMR" → Kanazawa et al. "End-to-end recovery of human shape and pose"

[2020-05-10 00:11] jackd opened #314 "layer names"
Style request: can layer names conform to tensorflow conventions? Specifically:
* no appended `Layer` or `KerasLayer` to `tf.keras.layers.Layer` implementations - it should be obvious from the module (e.g. `tf.nn.layer`) and convention.
* no naming of functions finishing in `layer` if they aren't returning / using a `tf.keras.layers.Layer`.

Happy to put in a PR with these changes (non-breaking wi

[2020-05-10 21:04] mpmisko opened #315 "Feature request: NURBS support"
The TF graphics library currently only supports B-Spline interpolation for uniform b-splines. Are there any plans to extend this to Non-Uniform Rational B-Splines (NURBS)? This would essentially mean giving users the option to provide a knot vector together with the control points. In the library, this would involve implementing De Boor's algorithm together with the gradients (a useful resource fo

[2020-05-11 09:58] rlav440 opened #317 "sizes = "None" failing for Keras DynamicGraphConvolutionKerasLayer implementations"
**Running Environment**

- Ubuntu 19.10, TF 2.1, TF graphics built from repo ~14 days ago.

**Issue**
-

- Documentation for the Keras Layer implementations suggests that the layers can be run with sizes = None, (which is the default). Instead, if the default occurs a value error is eventually raised:
`ValueError: The channel dimension of the inputs should be defined. Found 'None'.`
This occurs in

[2020-05-11 15:43] Sarasra opened #318 "Add Set Transformer to the models"
Add a Tensorflow implementation of the paper [Set Transformer: A Framework for Attention-based Permutation-Invariant Neural Networks](http://proceedings.mlr.press/v97/lee19d.html).
They achieve .84, .89 and .90 percent accuracy on Modelnet40.

[2020-05-11 15:54] julienvalentin commented on #315
Hi @mpmisko

Thanks for reaching out! Would that we someone you would be interested to implement and contribute to TensorFlow Graphics? :)

Best.

[2020-05-11 20:36] mehulbhat commented on #307
Hi, I'd like to work on this issue. Do tell me if there's anything I need to know apart from what you have mentioned.

[2020-05-12 07:32] osanseviero commented on #307
The above pointers should be enough, but feel free to ask any questions you have along the way :)

[2020-05-12 08:56] Molkree commented on #313
Why does TF Graphics have its own datasets folder? I mean what is the reasoning behind implementing it locally and not in the main TF Datasets repo?

[2020-05-12 11:04] mehulbhat commented on #307
For adding the ScanNet dataset, do I need to place the whole [ScanNet Repository](https://github.com/ScanNet/ScanNet) ([this](https://github.com/ScanNet/ScanNet)) in the required format in the datasets folder?

[2020-05-12 11:05] mehulbhat commented on #307
@osanseviero,  For adding the ScanNet dataset, do I need to place the whole [ScanNet Repository](https://github.com/ScanNet/ScanNet) in the required format in the datasets folder?

[2020-05-12 13:22] julienvalentin commented on #313
Hi @Molkree

TF Graphics is an official TensorFlow package, and our aim is to concentrate, where it makes sense, deep graphics / 3D resources in one place and avoid scattering of resources / having to handle contributions across several repos etc.

Do you see any downside to have a dataset folder in TF Graphics? Note that we are in touch with the TF dataset team, and that there is a plan for them

[2020-05-12 13:26] julienvalentin commented on #314
Hi @jackd !

Makes sense! Let's maybe start with one of these layers to see what the suggested change implies?

Best.

[2020-05-12 20:10] Molkree commented on #313
As far as I understand, TFDS is the place for datasets in TensorFlow ecosystem but maybe I'm wrong? :D
Is it the common practice for TF projects to have their own local datasets? As an outside person I would search for datasets in TFDS catalog/repo and not here/in any other TF project. If TFDS would reference datasets here it will somewhat remedy this issue in a way that datasets will be more disc

[2020-05-12 20:28] ataiya commented on #313
TFDS is also moving from a centralized ecosystem (where all the implementations are in their own repo) to a de-centralized ecosystem (where they provide the shared classes, and a global index, but the implementations are elsewhere). We are simply the ones to explore this direction.

And yes, this new way would make the import of datasets like the one @jackd developed a lot faster.

[2020-05-12 20:32] Molkree commented on #313
@ataiya, thank you for the explanation! And of course, you can delete.

[2020-05-12 21:03] osanseviero commented on #318
Hi @Sarasra! Is this something you would like to implement?

[2020-05-12 22:01] ataiya commented on #313
No worries, my pleasure.

[2020-05-12 22:29] cem-keskin commented on #306
We added multiple unittests to ensure that everything works as intended, and tested with avx2 optimization but couldn't reproduce this issue internally. This doesn't seem to be a TF Graphics bug, but it could be TF2.2 related.

As a workaround we will introduce an epsilon parameter for the cartesian_to_spherical_coordinates function today. By setting it to an appropriate value like 1e-7 you can ge

[2020-05-12 22:29] #306 closed

[2020-05-14 07:10] osanseviero commented on #307
@mehulbhat, the objective is to add utilities to process the data with TensorFlow datasets as already done for ModelNet. The ScanNet repository has many other tools (an app, server, etc) that we don't care about.

The linked repository has instruction on getting the data, which should be the first step. Once that's done, you can start seeing how to process it.

[2020-05-14 07:49] avneesh-sud opened #322 "Support for symbolic keras tensors in utils.shape"
utils.shape does not work with symbolic (placeholder) tensors created by Keras.Input. Following code snippet throws an exception.

[code]

[2020-05-14 07:52] avneesh-sud commented on #317
hi rlav440@

Providing keras symbolic tensors as inputs to DGCNN layer is under investigation - there are other issues, ref: #322

[2020-05-14 07:53] avneesh-sud commented on #246
hi jackd@!

Thanks for this offer - we definitely welcome a keras version of the notebook!

[2020-05-14 08:06] rlav440 commented on #317
Hi Avneesh - the issue here isn't providing symbolic tensors to the layer: That's actually a separate issue (that is fixed in the Github version but not available in the 1.0 package on pypi - I'll comment to that effect in the linked issue).

The issue here is that the layer doesn't run on it's default inputs, which according to the documentation it should do - not that it doesn't run.

[2020-05-14 08:06] kohei-tofu opened #323 "AttributeError: 'int' object has no attribute 'value' in tf2.2"
Is this line correct?

tensorflow_graphics/util/shape.py:135
**135 : return tensor.shape[axis].value**
It is comming from
**tensorflow_graphics/geometry/transformation/quaternion.py:555 rotate**

I run tutorial for beginner in tf2.2, this error occured.

[2020-05-14 08:13] rlav440 commented on #322
Hey, since this was linked to my issue:

I'm currently running the DGCNN layers via the keras functional API (with placeholder shape information). I'll edit once I have found the raised issues for confirmation, but I'm pretty sure that this issue is fixed in the Github version - but this fix has not yet made it's way to the pypi package.

Actually, just to confirm this, the above example code does

[2020-05-14 11:06] oracle3001 opened #325 "Install of TF-Graphics is not handling existing installed TF versions properly"
Using the latest code from Github (as of 14/05), there is an issue when you use pip install the whl file.

Tensorflow 2.2 is now the gpu version by default. If you have this installed, when you go to pip install a gpu build of tensorflow graphics, the install system doesn't realise this and thus downloads / installs the specifically named tensorflow-gpu-2.2.0 over the top.

[2020-05-14 11:36] jackd commented on #323
I think the pip version is only compatible with tf 1.x. I'd suggest cloning/installing from master.

[2020-05-14 12:32] julienvalentin opened #326 "Implement CVXNet - CVPR 2020 paper"

[2020-05-14 12:33] julienvalentin opened #327 "Implement Neural Voxel Renderer: Learning an Accurate and Controllable Rendering Tool - CVPR 2020"

[2020-05-14 12:34] julienvalentin opened #328 "Colab demo for Neural Voxel Renderer: Learning an Accurate and Controllable Rendering Tool - CVPR 2020"

[2020-05-14 12:35] julienvalentin opened #329 "Opensourcing infrastructure to distribute the OpenGL rasterizer"

[2020-05-14 12:39] julienvalentin opened #330 "Fix the documentation sript"

[2020-05-14 12:40] julienvalentin opened #331 "OpenGL rasterizer: functionality to return FG / BG mask"

[2020-05-14 12:40] julienvalentin opened #332 "OpenGL rasterizer: add default BG geometry"

[2020-05-14 12:41] julienvalentin opened #333 "OpenGL rasterizer: Colab demo"

[2020-05-14 12:44] julienvalentin opened #334 "Tangential camera distortion/undistortion"
https://ch.mathworks.com/help/vision/ug/camera-calibration.html

[2020-05-14 12:44] julienvalentin opened #335 "Add skew to projective camera"
https://ch.mathworks.com/help/vision/ug/camera-calibration.html

[2020-05-14 12:45] julienvalentin opened #336 "Move triangle_area from mesh sampler to mesh utils"

[2020-05-14 12:57] julienvalentin commented on #219
Hi @bhack !

Is this something you would like to contribute!

Best.

[2020-05-14 12:59] bhack commented on #219
It Is under Alphabet so I think that you can make an internal pass before investing time and create a duplicate.

[2020-05-14 13:01] julienvalentin commented on #282
Hi @drebain

Are you still planning to contribute what you described above in this thread?

Best.

[2020-05-14 13:04] julienvalentin commented on #302
this looks good to me Andrea

[2020-05-14 13:06] julienvalentin opened #337 "Update the pip packaging to not use the TensorFlow GPU"
TensorFlow now only uses the TensorFlow pip package

[2020-05-14 13:12] julienvalentin commented on #322
The pip package needs an update for sure, but this is a separate issue as you rightly point out. As it seem fixed in head, is it safe to close?

[2020-05-14 13:14] julienvalentin commented on #323
As @jackd mentioned, our pip package on pypi needs update. Please clone the repository.

[2020-05-14 13:14] #323 closed

[2020-05-14 17:23] drebain commented on #282
Yes. It seems like @jackd 's implementation above could be made into a tfg op, but I'm a bit worried about the performance. My experience with pure python tensorflow implementations that rely heavily on gather/scatter operations is that they seem to be much slower than an equivalent CUDA C++ implementation. I would be interested in doing a higher-performance version if you're accepting CUDA code.

[2020-05-14 19:19] rlav440 commented on #322
I'd think so. Cheers!

[2020-05-14 20:13] avneesh-sud commented on #322
Thanks rlav440@ and Julien. Yes - I tested on latest code (vs pip) and the issue is resolved.

[2020-05-14 20:13] #322 closed

[2020-05-14 20:18] avneesh-sud commented on #317
Thanks @rlav440 - i tested by specifying a known batch_size to keras.Input. However that also has issues - compatibility of custom layers like DGCNN (with own weights) with symbolic keras tensors needs further investigation.

[2020-05-14 21:35] rlav440 commented on #317
Yep - I'm currently running a working model using these graph layers so I can definitely attest that the layer works (and returns _good_ results).

DGCNN as a custom layer is sub-classed from the appropriate Keras.layers.Layer: so I don't think that it having it's own weights is the issue here. There might be some issues that I'm not aware of: but my model does have primarily DGCNN layers in the k

[2020-05-14 21:36] rlav440 commented on #317
[code]

[2020-05-14 21:49] rlav440 commented on #317
@avneesh-sud you are definitely right that the issue is related to the symbolic tensors - it's not a problem with the layer itself per se - but it's just the sizes = None default doesn't work on symbolic input

This code below shows that the layer runs fine with default inputs when we don't pass it undefined tensors.
[code]
With this narrowed down, I might have a go at seeing if I can get this run

[2020-05-14 22:37] rlav440 commented on #317
With a bit more debugging the issue appears to stem from the definition of x_flat in convolution/graph_convolution.py, using flatten_batch_to_2d

In this case (symbolic tensor, ndims>2, sizes = None) the data is unrolled into x_flat, with shape=(None,None) is the input batch dimension is unknown. I'll have a look at the utility and see if I can work out the fix.

[2020-05-14 23:14] rlav440 commented on #317
So I have a temporary fix - definitely not worthy of a pull request, as it's just a bit too hacked together.
Inserting the line:
[code]
after calculating x_flat will provide the necessary shape information for the convolution to run without error. Difference here is relying on the known number of dimensions of the object, rather than the apparently dynamic shape call inside flatten_batch_to_2d.

S

[2020-05-15 09:21] osanseviero commented on #24
Reopening this issue since it already has a pointer. Would anyone be interested on implementing it?

[2020-05-15 09:22] #24 closed

[2020-05-15 09:23] osanseviero opened #339 "Microfacet-based BRDF models"
http://simonstechblog.blogspot.com/2011/12/microfacet-brdf.html is a good resource.

https://github.com/tensorflow/graphics/issues/24 has some previous discussion on this.

[2020-05-15 14:16] osanseviero opened #340 "Roadmap"
TensorFlow Graphics was [first released](https://blog.tensorflow.org/2019/05/introducing-tensorflow-graphics_9.html) at Google I/O in 2019, and since, the library grew a lot, both in terms of core components, but also in terms of infrastructure which was put in place to facilitate collaboration with the community. We are excited to share with you what we believe would be great next steps for Tenso

[2020-05-15 14:17] osanseviero commented on #132
Hi @bhack. We've added our roadmap in https://github.com/tensorflow/graphics/issues/340. Please take a look, it would be great to hear your opinion!

[2020-05-15 14:17] #132 closed

[2020-05-15 14:41] jackd commented on #340
Meeting recording is private :(

[2020-05-15 17:49] julienvalentin commented on #340
I'll look into this.

[2020-05-16 03:12] ataiya opened #342 "Setup nightly distribution with GitHub Actions"
https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

[2020-05-16 14:41] drebain opened #343 "Is the data_formats module redundant?"
It looks like `tensorflow_graphics.io` and `tensorflow_graphics.util.data_formats` have the same purpose. Should `util.data_formats` be deprecated and pointed to `io`?

[2020-05-16 18:27] mpmisko commented on #315
There is an easy way to add support for NURBS weighted interpolation following this approach: https://pages.mtu.edu/~shene/COURSES/cs3621/NOTES/spline/NURBS/NURBS-def.html. I am more than happy to implement this if you think it is a good idea. :)

[2020-05-17 03:47] ataiya commented on #342
Created testpypi user; see valentine password storage
Using [settings/secrets](https://github.com/tensorflow/graphics/settings/secrets) to store passwords securely

Tested on [my fork](https://github.com/ataiya/graphics), works "as advertised":
https://test.pypi.org/project/tfg-nightly/

To test deployment, see here:
https://packaging.python.org/tutorials/packaging-projects/#installing-your-newly-

[2020-05-17 12:46] Molkree commented on #342
It is [UTC](https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#onschedule).

[2020-05-18 00:48] sam598 commented on #340
The face estimation gif looks very interesting. Is there an explanation or example of this somewhere?

[2020-05-18 01:59] ataiya commented on #314
+1 to both

I think via some __init__.py magic you could get layer → layers (agreed it is better) change to be non-breaking. TF does a fair bit of __init__ magic in this sense too.

[2020-05-18 02:00] ataiya commented on #309
@jackd feel free to close once the PR gets published.
Reassigning to you.

[2020-05-18 03:04] SaberArthurus opened #346 "Not Found Tourial"
Hi,
I can not access https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/g3doc/api_docs/python/tfg.md.

Best

[2020-05-18 03:35] ataiya commented on #342
Release candidate in #347

[2020-05-18 12:58] julienvalentin commented on #346
Hi @SaberArthurus

We are in the middle of changing how the documentation is published on the web. In the meantime, you can either clone a version of the repo where this file existed, or refer to the documentation directly in the python files.

Best.

[2020-05-18 12:58] #346 closed

[2020-05-18 13:05] julienvalentin commented on #343
Good point; raising this with Aviv who created the .io

[2020-05-18 13:07] julienvalentin commented on #340
@sam598 we have a demo ready. @yifeif is currently working on the open-sourcing aspects of the OpenGL rasterizer this is based on.

[2020-05-18 13:16] julienvalentin commented on #340
@jackd unfortunately I can't make the video public, but I can manually grant access to it. Can you give me your gmail?

@osanseviero we should mention that people should ask here + add an email so that we can grant them access. I tried with my personal gmail and I am not receiving the notification to grant access. Are you aware of an easier way?

[2020-05-18 13:56] segaviv commented on #343
Thanks for pointing this out!
I wasn't aware of util.data_formats when creation the io package and they indeed serve the same purpose.

I'll move the exr reader & write to tfg.io package.

[2020-05-18 19:18] sam598 commented on #340
Thanks @julienvalentin looking forward to it.

[2020-05-18 21:23] ataiya opened #351 "Self contained mock_data for datasets"
Currently, storing dataset info in `tensorflow_graphics/datasets/testing/metadata` breaks the "self-contained" style we are following for TFDS datasets stored within TFG.

We should modify the logic of the mock run so that `tensorflow_graphics/datasets/testing/metadata/model_net40/1.0.0/dataset_info.json` can be stored in something like `tensorflow_graphics/datasets/model_net40/dataset_info.json`.

[2020-05-18 21:36] rsepassi commented on #351
cc @Conchylicultor

More info here would be helpful.

Is it that you'd like for the filepath to be different? What do you mean by the "self-contained" style? What's the "mock run"?

[2020-05-18 21:57] ataiya commented on #351
In the main TFDS repo, checksums are stored in `tensorflow_datasets/checksums`, while here we are storing it in the dataset folder, e.g. `tensorflow_graphics/datasets/modelnet40/checksums`.

That is, in TFG, *all* of the files for a dataset are contained within its folder (and subfolders).
I interacted with Etienne to getting this workflow up and running a few weeks ago.

@jackd now also added `tf

[2020-05-18 23:58] rsepassi commented on #351
Ok, so sounds like you and @Conchylicultor have discussed this previously; what was the conclusion of the discussion, or work that was considered/started? (If there's a related GitHub issue, please link; also Etienne can chime in here).

[2020-05-19 16:52] ataiya commented on #351
No, only discussed with Etienne, not @Conchylicultor.

There are two separate things that would be nice:
1) give the user the ability to **choose** where the metadata is stored (similar to `tfds.download.add_checksums_dir(_CHECKSUM_DIR)`, I guess)
2) allow a mock_data workflow where the data is programmatically define *within* the test file (so not to have to depend on deployed data)

Feel free to

[2020-05-19 17:30] Conchylicultor commented on #351
For info, @Conchylicultor == Etienne,

 I agree about those two points. I tried to answered by mail with more context.

[2020-05-20 07:10] jackd commented on #309
@ataiya PR is merged, but I can't close.

[2020-05-20 07:36] julienvalentin commented on #309
Hi @jackd

We have to limit rights on Github until we switch to using Github first. Note that we are working on the transition from Google repo first to Github first.

Closing

Best.

[2020-05-20 07:36] #309 closed

[2020-05-20 21:52] drebain commented on #282
![marching_cubes_output](https://user-images.githubusercontent.com/5511462/82499216-26894380-9aa6-11ea-8b13-13d350742348.png)
**Update:** I have done a [first attempt at a C++/CUDA op](https://github.com/drebain/graphics/commit/194c5d61120e1262873f1abbfa0c879265e95609) and assuming I have done the benchmarking correctly, it seems like there is indeed a significant performance cost to the pure pyth

[2020-05-20 22:04] ataiya commented on #282
We can have both a pure python and an accelerated (C++ or CUDA version).
I don't think there is anything wrong with that ;)

The grid reso is sqrt(number of cells)?
Or are you counting the number of occupied cells
(out of curiosity)

[2020-05-20 22:12] drebain commented on #282
It's the actual number of cells, this goes up to 128x128x128. It can go higher before it runs out of memory, but this was the most I had patience to wait for.

[2020-05-20 22:21] drebain commented on #282
To be more specific it's the total number of cells in the grid. The occupied cells will be roughly half that, as I'm using Gaussian white noise with isolevel 0.0.

[2020-05-21 15:54] G4G commented on #288
Thanks for answering the comments, the code looks good to me.

[2020-05-22 18:37] ataiya commented on #325
Hi @oracle3001, do you mind trying with version "2020.5.20", I think you were still using "1.0"
@julienvalentin recently pushed it to [PyPi](https://pypi.org/project/tensorflow-graphics)

I will also move the tfg-nightly from test.pypi to pypi proper early next week.

[2020-05-22 19:05] ataiya commented on #342
Started transition to PyPi proper.

[2020-05-23 01:27] ataiya commented on #302
@julienvalentin, PTAL
- [ ] https://github.com/tensorflow/graphics/wiki/Home
- [ ] https://github.com/tensorflow/graphics/wiki/pull_request

[2020-05-23 01:30] ataiya commented on #302
@sofienbouaziz julien removed TravisCI, but the [Build workflow](https://github.com/tensorflow/graphics/blob/master/.github/workflows/build.yml) does not check for coverage. You might want to add it back, and add the corresponding docs to [this page](https://github.com/tensorflow/graphics/wiki/Home)?

[2020-05-26 10:51] julienvalentin commented on #343
@segaviv I think you covered this in a recent push. I let you close this if this issue if this is the case.

[2020-05-26 10:57] segaviv commented on #343
Yes, this is now resolved, however I don't seem to have permissions to close the issue I think.

[2020-05-26 10:57] #343 closed

[2020-05-26 15:31] IDSPAGET commented on #278
Hi,
Do we have an update on this issue?
Anything I can do to help tracking the bug?

[2020-05-26 17:50] avneesh-sud commented on #278
Hi @IDSPAGET - can you share a colab or snippet with context on how you are running the graph conv op? Are you running in TFv1 or TFv2? graph or eager?

[2020-05-26 18:06] romp13 opened #365 "Implement "Differentiable Surface Splatting for Point-based Geometry Processing""
Re-implementation of [Wang et al. 2019 (Siggraph Asia)](https://igl.ethz.ch/projects/differentiable-surface-splatting/)

PyTorch implementation: https://github.com/yifita/DSS

[2020-05-26 18:50] avneesh-sud commented on #278
Hi @IDSPAGET  - confirming the reshape op is executing on CPU, below is the code snippet

`import tensorflow as tf
from tensorflow_graphics.geometry.convolution import utils as gc_utils

tf.config.set_soft_device_placement(True)
tf.debugging.set_log_device_placement(True)

with tf.device('/device:GPU:0'):
  st = tf.sparse.SparseTensor(indices=[[0, 0, 0, 1], [1, 0, 0, 2]], values=[1, 2], dense_shap

[2020-05-26 21:17] #342 closed

[2020-05-27 10:12] IDSPAGET commented on #278
Hi @avneesh-sud ,

Thank you for your answer.
Here is the example from #13, slightly modified to reproduce the issue.

[code]

This runs fine on cpu with device= '/GPU:0' or with automatic device placement, but yields this error when forcing the device placement on GPU.

[code]

[2020-05-27 22:23] oracle3001 commented on #325
It handles tensorflow 2.2 ok, however it doesn't handle tensorflow 2.3 (i.e tf nightly).

Using pip install --upgrade tfg-nightly command

It still tries to install the older stable tensorflow v2.2

[2020-05-27 23:40] ataiya commented on #325
@julienvalentin should we make tfg-nightly depend on tfg-nightly rather than tensorflow proper?

This would resolve the problem, I think

[2020-05-28 12:57] julienvalentin commented on #325
sure; will create the PR

[2020-05-29 10:40] IDSPAGET commented on #278
@avneesh-sud as pointed out in #13 , the sparse tensors are anyway turned into dense by the optimizer. Maybe a first fix would be to add an option to switch to dense tensors for the graph convolutions instead.

[2020-06-03 15:46] ataiya commented on #325
@oracle3001 the nightly package deployment tonight will depend on tf-nightly.
Please re-open the issue if you think this does not solve it, with the steps to reproduce it.

Thanks

[2020-06-03 15:47] #325 closed

[2020-06-05 20:03] Molkree commented on #302
Hi, @ataiya!
You might want to add the section about notebooks too. TensorFlow Docs team has notebook [formatter](https://github.com/tensorflow/docs/blob/master/tools/nbfmt.py). Just a [link](https://www.tensorflow.org/community/contribute/docs#interactive_notebooks) to existing Docs guidelines and mention that failing formatting check will prevent PR from merging (just like linting and tests) wou

[2020-06-05 20:09] ataiya commented on #302
That's an interesting idea, but I let @julienvalentin comment here.
I do not use notebooks, nor will I ever :)

[2020-06-05 20:17] ataiya opened #379 "Prevent forks from auto-running nightly deployment"
Forks do not inherit *GitHub Secrets*, but do inherit *Github Actions* that might use them.
This then results in a long stream of failed actions on forked repositories ([example](https://github.com/ataiya/graphics/actions))

It should be possible to prevent this with conditionals:
https://github.community/t/how-can-i-test-if-secrets-are-available-in-an-action/17911/8

Testing the solution on the f

[2020-06-05 23:05] Molkree commented on #379
This actions will run no matter what I think. They will definitely appear in your list of actions and what you added will only skip the last step of the action. It won't fail though, so that's good, no extra notifications at least but the list will be polluted anyway.
I suggest to skip the whole job and not just the last step by checking in which repository it's running, that is just add `if: gith

[2020-06-06 14:31] ataiya commented on #305
Hi @oracle3001, I think this was fixed in f8d9aef
Do you want to go ahead and test?

(**warning** you should install tfg-nightly from pip, not the main repo in this case)

[2020-06-06 22:17] oracle3001 commented on #305
Just tried it running pip install --upgrade tfg-nightly, and it still tried to grab tensorflow 2.2.

My tensorflow nightly package is installed via tf-nightly-gpu. This is because the tf-nightly for some reason doesn't have GPU enabled, in the way stable release now comes built with GPU as default.

[2020-06-07 07:52] julienvalentin commented on #305
It seems that the nightly task did not push since we patched due to a failing test.
Will ask the author of the bug to patch.

In the meantime, what about cloning the repo locally and adding it to your python path?

[2020-06-07 08:16] julienvalentin commented on #305
My hunch is that some stuff in TF nightly does not behave like TF stable; we'll investigate.

[2020-06-08 14:52] ataiya commented on #379
Excellent suggestion @Molkree
I tested it on my fork, and created a pull request for integration.

[2020-06-08 15:47] bsaund opened #383 "Broken link to API in readme"
The link the in README.md under API Documentation points to:
https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/g3doc/api_docs/python/tfg.md

This file does not exist

[2020-06-08 16:05] julienvalentin commented on #383
Thanks for reporting @bsaund !

[2020-06-08 17:20] Molkree commented on #383
All API docs were removed in https://github.com/tensorflow/graphics/commit/87b673582aee03c63d32e6667fc76b1ff1dadaa4, I wonder if the intention was to regenerate them?

[2020-06-09 15:16] #379 closed

[2020-06-09 17:53] ataiya commented on #383
Note the content of the g3doc folder is only used by TensorFlow Docs to build these pages:
https://www.tensorflow.org/graphics/api_docs/python/tfg

For pre-release TFG, the documentation is in the code directly?

[2020-06-09 18:42] Molkree commented on #383
So maybe the link in the readme should be changed to point at the site and not at the (missing) file?
Also all source links (View source on GitHub) at the site lead to nowhere.

[2020-06-15 14:03] Zumbalamambo opened #393 "Monocular Pose estimation"
How do I estimate the camera pose from a monocular camera while utilizing TensorFlow graphics?

[2020-06-15 21:39] dli7319 opened #394 "Cartesian_to_spherical_coordinates returns NaN gradients near (0, 0, 1)."
Hello,

Could you please update the docstring to mention that NaNs gradients can be returned?
Also, please consider printing a warning when the input is close to (0, 0, 1) or returning a gradient other than NaNs (e.g. 1 or 0). Alternatively, branching based on (z/radius) to use arcsin rather than arccos can also minimize numerical instabilities in the gradient, though it may also reduce performanc

[2020-06-18 22:45] jamesjiro commented on #334
I'm interested in working on this issue if it's still available.

[2020-06-20 11:40] fulkast commented on #335
Hi!

I'm interesting in working on this issue. Out of curiosity, what does the `good_first_issue` label mean here?

[2020-06-21 04:01] jamesjiro commented on #334
Hi, I’d like to work on this issue.

[2020-06-21 07:16] julienvalentin commented on #334
Super! Let me assign it to you!

[2020-06-21 07:18] julienvalentin commented on #335
Great! Assigning it to you!

We removed tags so that there is either 'good first issue' or 'contribution welcome' but not both!

[2020-06-21 07:19] julienvalentin commented on #315
That would be awesome!

[2020-06-21 17:07] fulkast commented on #335
Got it. I'm on it

[2020-06-23 09:09] shyanguan commented on #327
Pytorch vision is also wanted :P

[2020-06-30 07:40] themasterlink opened #400 "CvxNet is the dual transformation actually used?"
Hey,

I have a question regarding the max operation defined below eq. 3 in your paper.

<img src="https://render.githubusercontent.com/render/math?math=\hat{O}(x) = max_k\{C_k(x)\}">

As I understand all convexes are parameterized and then transformed to their location (see Fig. 7).
However, there is no step, which avoids that convexes are much bigger than the actual object boundaries as long as t

[2020-06-30 15:09] ataiya opened #403 "Better parameters names for io/triangle_mesh.py"
https://github.com/tensorflow/graphics/blob/946aa03b5178d2fc557a81045b84df24af322afd/tensorflow_graphics/io/triangle_mesh.py#L42

I think "filepath_or_object" would be a more appropriate parameter name?
For a second, I was convinced obj stood for OBJ (as in Alias Wavefront Obj).

Thoughts?

[2020-06-30 15:48] taiya opened #404 "Add blender modifiers to threejs abstraction"
[code]

[2020-06-30 15:52] ataiya opened #405 "Implementation of THREE.BufferGeometry"
Adaptation from
https://github.com/HTDerekLiu/BlenderToolbox/blob/ac9da757c8c372237458467aa6663bcdbb86b803/cycles/tutorial.py#L35

[code]

[2020-07-01 03:24] ataiya commented on #405
![helloworld](https://user-images.githubusercontent.com/4480573/86199681-bea82d00-bb28-11ea-800a-7b0764400fa2.png)

First draft in cc823f9b1

[2020-07-01 03:24] #405 closed

[2020-07-01 14:47] taiya opened #409 "[threejs] animation / keyframing"
# Blender side
(open blender on default scene → scripting → console)
[code]
Then back to layout and press play (spacebar)

# ThreeJS side
animation system
https://threejs.org/docs/#manual/en/introduction/Animation-system
how to use tracks (examples)
https://threejs.org/examples/jsm/animation/AnimationClipCreator.js
examples
https://stackoverflow.com/questions/40434314/threejs-animationclip-example

[2020-07-03 11:35] michele-arrival opened #412 "Rasterizer op on Windows"
Congratulations on publishing the opengl rasterizer!

Do you have any plans to implement this for Windows at some stage?

[2020-07-06 05:50] vanlicht opened #417 "Euler angles of multiple axis rotations (degrees) from XYZ to ZYX and to Quaternion"
The issue/ question I encountered was in the 6DOF demo:
https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/notebooks/6dof_alignment.ipynb

Essentially I was trying to rotate the source 3D file using XYZ (I used ` import trimesh`). According to the document, quaternion.from_euler() only takes the euler from zyx, and I couldn't seem to find any api in TFG to convert from xyz to z

[2020-07-06 15:39] taiya commented on #409
API to render from blender:
https://docs.blender.org/api/blender_python_api_2_70_5/bpy.ops.render.html

[2020-07-06 16:28] taiya commented on #409
Rendering a collection of static frames:
https://blender.stackexchange.com/questions/17839/python-render-specific-frames

[2020-07-06 19:45] #409 closed

[2020-07-08 03:48] vanlicht commented on #417
Hi, figured out the issue...just need to change for 'xyz' which is extrinsic rotations, to capitalized 'XYZ' so it is intrinsic rotation.

[2020-07-08 03:48] #417 closed

[2020-07-11 20:01] mayou36 opened #421 "Remove OpenEXR from requirements and warning"
The docs and code say that OpenEXR is an optional dependency (https://github.com/tensorflow/graphics/blob/6b905c68e802b73c04857c21cca2e026cc37c900/tensorflow_graphics/util/data_formats/__init__.py#L25 or [here](https://www.tensorflow.org/graphics/install#installing_optional_packages_-_linux) but is seemingly is not. This means I cannot install the TFG package, since the OpenEXR does not get instal

[2020-07-16 16:49] taiya opened #423 "Move "/tensorflow_graphics/projects" to "/projects""
Currently "projects" are stored under the TFG namespace.
On the other hand "submodules" are not, creating an inconsistency.

This has two main effects:
1) long python import statement `import tensorflow_graphics.projects.project.foo.bar`
2) the pip dependencies of projects need to become tensorflow_graphics dependencies (overkill?)

Recommended actions:
1) We should move the projects subfolder to

[2020-07-23 13:33] theRealSuperMario opened #430 "Cvxnet: Cython missing in requirements"
To run `python setup.py build_ext --inplace`, you need cython which is missing in the requirements.

[2020-07-23 15:39] Awcrr commented on #400
Hi Maximilian,

I'm Boyang Deng, one of the authors of CvxNet. Thanks for your interests in our work! I'm sorry I noticed your issue just today.

This is a good point! We also considered this in this work. Please note that we have a $L_{unique}$ loss (see Eq. (5) in the paper) which can help with this case. Basically, it will ask the model to predict the minimal sized convex polytopes that can exp

[2020-07-23 16:31] taiya commented on #400
For the direct convex computation, @Awcrr you know where to find it ;)
`experimental/users/atagliasacchi/cvxnet/blender.py`

[2020-07-24 08:01] themasterlink commented on #400
Hey Boyang,

Thanks for this explanation that clears that  up.

Then I can't wait to see this script, as I see this as one of the major contributions of this work.

PS: It seems Andrea already knows where it is ;)

[2020-07-24 16:11] taiya commented on #404
moved to https://github.com/google-research/kubric

[2020-07-24 16:11] #404 closed

[2020-07-26 20:47] Lynne-Zheng-Linfang opened #431 "ImportError: cannot import name 'gen_rasterizer_op' when trying to import tensorflow_graphics.rendering.opengl.triangle_rasterizer"
Hi, I am new in tensorflow, and when I trying to import tensorflow_graphics.rendering.opengl.triangle_rasterizer, the following error shows:
[code]
I am using Ubuntu 18.04, and version info:
tensorflow-gpu           2.2.0
tensorflow-graphics      2020.5.20
How can I solve it? Thanks a lot

[2020-07-28 09:15] michele-arrival commented on #431
There's a fix in this pull request: #411

[2020-07-29 11:33] engrmz commented on #430
Hi,
I have trained the model for RGB-to-3D and Depth-to-3D. Now, I am running the eval.py for evaluation of the trained models. However, there is an error for both the cases as shown below;

`tensorflow.python.framework.errors_impl.InvalidArgumentError: You must feed a value for placeholder tensor 'Placeholder_3' with dtype float
	 [[node Placeholder_3 (defined at /code/cvxnet/graphics/tensorflow_

[2020-07-29 11:51] engrmz opened #432 "Error in CvxNet eval.py: You must feed a value for placeholder tensor 'Placeholder_3' with dtype float"
Hi,
I have trained the model for RGB-to-3D and Depth-to-3D. Now, I am running the eval.py for evaluation of the trained models. However, there is an error for both the cases as shown below;

`tensorflow.python.framework.errors_impl.InvalidArgumentError: You must feed a value for placeholder tensor 'Placeholder_3' with dtype float [[node Placeholder_3 (defined at /code/cvxnet/graphics/tensorflow_gr

[2020-07-29 18:55] mtsokol opened #433 "Format bug in `bspline.interpolate` docs"
Hi!

In: https://www.tensorflow.org/graphics/api_docs/python/tfg/math/interpolation/bspline/interpolate
formatting broken doc by [introducing `-` at the beginning of the line](https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/math/interpolation/bspline.py#L253).

Can it be fixed manually or is it standard formatting (so text should be changed)?
If so, let me know if I can try

[2020-07-30 20:13] Awcrr commented on #432
Can you please tell us what command did you use to run the evaluation job?

[2020-07-30 23:46] Awcrr commented on #430
Thanks for pointing this out! A good catch! We updated the dependency with cython included.

[2020-08-01 20:23] engrmz commented on #432
Thanks for your reply.
I was using `save_summaries_steps=3` and `log_step_count_steps=3`. After setting these parameters to None, the placeholder error has solved. Now there is another error in evaluation. Here is the details;

`2020-08-01 22:07:07.690117: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcublas.so.10
2020-08-01 22:08:09.111455:

[2020-08-05 18:34] Awcrr commented on #432
Glad you resolved the previous issue.

For the new error, just change `--n_half_palnes` to `--n_half_planes`. I guess you probably just copy pasted the command from the previous README so this is actually our fault. We are really sorry that we had this typo. Just making this change should fix the issue here.

[2020-08-06 11:51] engrmz commented on #432
Hi Boyang Deng (@Awcrr ),

Thanks for your reply. I have updated the parameter as you suggested. However, still there is an error which may be caused due to low GPU memory. I am running the code on 4GB GPU. Will you please see the error given below and suggest how could I resolve it?

[code]

kindly consider the shape[1,50,50,100050,3]. The error is same if I reduce the batch size. I tried with ba

[2020-08-06 16:17] Awcrr commented on #432
Long story short, you can change the 1e5 number [here](https://github.com/tensorflow/graphics/blob/2ba659d29e8bbc2a7fb2463f83f48fe62b1a5eee/tensorflow_graphics/projects/cvxnet/lib/utils.py#L151-L154) to a small enough number that can fit into your GPU memory.

We use an 8G memory GPU for our experiments but

[2020-08-06 16:41] engrmz commented on #432
Hi, Thanks for your help. I am working on it.
Can you please share complete transformed dataset in tfrecord format?
Or, if possible, can you share the way of conversion of dataset from shapenet to tfrecord?

[2020-08-07 17:28] ghosalsattam commented on #313
@taiya Looks interesting.
I am planning to work on it, but am unable to decide how to start. Can you help me?
Shall we implement it in steps?
Shall we import PosNet from tensorflow-models/posnet?
Where shall we put the project(in tensorflow_graphics/projects or somewhere else)?
Shall we add different functionalities as different pull request or just one PR with very large diff size?
Sorry, if it i

[2020-08-11 08:53] engrmz commented on #432
Hi @Awcrr,
The code (training and testing) is working proper on 12G memory GPU for given sample_dataset composed of only one category - telephone. Thanks for your help.

Can you please share complete dataset or give me a clue how to create it?

[2020-08-18 18:20] sam598 commented on #340
@julienvalentin @yifeif any update on the face alignment demo?

[2020-08-19 08:22] engrmz opened #443 "CvxNet dataset"
Hello everyone!

Can anyone please help me finding a dataset (RGB/depth data in TFRecord format) that we can use for CvxNet training/testing?

-Zohaib

[2020-08-20 03:59] Emon26 opened #444 "Designer"

[2020-08-20 20:15] aferrall opened #445 "Error with axis_angle.rotate and @tf.function"
Hello,

I've been looking into some of the basic transform functionality in tensorflow_graphics, and though I'm able to use it successfully for some initial testing, as soon as it becomes part of a traced graph (via @tf.function decoration), I get errors.

The following is a trivial test case demonstrating what I'm seeing.

[code]

In the above pT1 evaluates as expected, but pT2 fails with the fol

[2020-08-20 20:32] aferrall commented on #445
Looks like this might be fixed in mainline, just not in the currently released code. Sorry for the noise.

[2020-08-20 20:32] #445 closed

[2020-08-21 13:52] saikiran321 opened #446 "Non rigid deformation between a template and target mesh with different vertices"
This is an amazing library, I was wonder if is possible to model  As Conformal As Possible fitting energy between two meshes that have completely different vertex and edge information with this library?

Example:

mesh_1 contains   10000 vertices and 25000 faces
mesh_2 contains  2000 vertices and 10000 faces, in this case, how would we proceed ?

[2020-09-22 03:29] atyshka commented on #421
+1 on this, having to build an unwanted dependency from source is a burden

[2020-09-27 09:48] bhack commented on #340
Is this project still in active development/progressing on the roadmap?

It Is quite strange that It was not mentioned in the next Neurips 2020 workshop https://montrealrobotics.ca/diffcvgp/ but I see that @taiya Is a speaker.

[2020-10-13 18:19] rola93 commented on #156
Hey!

I'm having exact the same issue, converting an old matlab script to keras, need to run levenberg_marquardt optimier.

I'd appreciate any clues on how to implement it. I found [levenberg-marquardt](https://www.tensorflow.org/graphics/api_docs/python/tfg/math/optimizer/levenberg_marquardt) implementation for this optimizer in [tensorflow_graphics](https://www.tensorflow.org/graphics/api_docs/p

[2020-10-14 19:21] osanseviero commented on #433
Hi Mateusz! Sorry for the delay in the reply. I can't see the error you mention. Could you share a screenshot please?

Thanks!

[2020-10-14 19:24] osanseviero commented on #340
Hi @bhack. We're in active development. We expect to have exciting updates soon. And yes, Andrea will be in Neurips, don't miss it!  The workshop will cover many topics

[2020-10-14 19:25] mtsokol commented on #433
@osanseviero Hi! I just checked git blame and it's been fixed month ago:
https://github.com/tensorflow/graphics/commit/9753b691d4704354cef2b0273f10a5324894d63e

[2020-10-14 19:26] #430 closed

[2020-10-14 19:26] osanseviero commented on #433
Thanks for pointing this out!

[2020-10-14 19:26] #433 closed

[2020-10-28 16:27] areiner222 opened #462 "quaternion_from_rotation_matrix NaN or +Inf errors"
I am trying to convert a [6D continuous representation](https://arxiv.org/pdf/1812.07035.pdf) of a rotation matrix into an axis-angle representation in a network. During backprop, I can occasionally encounter NaNs / +Inf. I was able to determine the source is `quaternion_from_rotation_matrix` by using a combination of `tf.debugging.enable_check_numerics()`and the tensorflow_graphics debugging mode

[2020-10-29 00:10] cem-keskin commented on #462
quaternion.from_rotation_matrix uses tf.where to pick a method to populate the quaternion - and tf.where (and tf.cond) executes all branches regardless of the condition. This means that sqrt(trace + 1) may fail because of numerical instability *only* in debug mode where we check for NaN values. But tf.where will not pick the NaN value since the required condition to pick that branch is trace > 0,

[2020-10-31 00:09] fabiodimarco commented on #156
I also had the same issue. I have found that in some cases LM produces better results than first-order methods.
I decided to implement a tf/keras version of LM, bringing some additional features.
Here is the link to the repository: [tf-levenberg-marquardt](https://github.com/fabiodimarco/tf-levenberg-marquardt).
Hope it helps.

[2020-11-10 13:55] mayou36 commented on #421
Is there any news on this?

[2020-11-13 01:03] bhack commented on #340
https://github.com/NVlabs/nvdiffrast.

[2020-11-19 03:27] prafael18 commented on #462
@cem-keskin I think that using tf.where is more susceptible to issues than tf.cond. I just encountered a similar issue where NaNs were being backpropagated when the trace of the rotation matrix was -1. I think this stems from the fact that tf.where backpropagates 0s for the branches that should be ignored, but since a NaN is computed along the way, instead of backpropagating 0s, NaNs are backpropa

[2020-11-24 21:36] cem-keskin commented on #462
@prafael18. I was referring to the the warning in the documentation: "Warning: Any Tensors or Operations created outside of true_fn and false_fn will be executed regardless of which branch is selected at runtime.". But you are right that tf.cond should actually work in this case, because the problematic tensors are created inside true_fn and false_fn. Thanks for confirming it.

[2020-11-24 21:54] cem-keskin commented on #462
Of course tf.cond would only work for a single tensor and not a batch, unfortunately. That's why we ended up using tf.where. Using tf.dynamic_partition and tf.dynamic_stitch is also an option.

[2020-11-24 23:38] prafael18 commented on #462
I'm not sure what are the performance implications of my solution, but I ended up just reshaping the batch dimensions into a single one, applying tf.map_fn to each element in the batch, and restoring the orignal batch shape.

[2020-12-11 23:57] vibe007 opened #465 "How to load a checkpoint in Eager mode"
Hi, I trained a CVXnet model using the GitHub codebase. It uses graph-mode execution, tf.MonitoredTrainingSession. At inference time I want to do some post-processing, and my script is in eager mode. However I am having problems loading the checkpoint. It loads without error using tf.train.Checkpoint in the checkpoint directory, I have these checkpoint files in FLAGS.train_dir e.g.:

[code]

My ea

[2020-12-22 14:36] gud2great opened #467 "NASA: generating input tfrecord files"
Hi,

In [NASA repo](https://github.com/tensorflow/graphics/tree/master/tensorflow_graphics/projects/nasa),
I wonder about how to convert the original AMASS dataset to the tfrecord files. Of course, I know about generating tfrecord files but, in your sample input file(tfrecord), it contains point coordinate, weight and labels which are not included in the original AMASS dataset. How to make the who

[2020-12-22 19:32] Molkree opened #468 "Broken gif in Local Implicit Grid Representations readme"
Teaser gif in the [readme](https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/projects/local_implicit_grid/README.md) of the project doesn't work because GitHub drops gifs bigger than 5MB and this one is 5.89MB. If possible, link to the smaller gif should be provided or removed altogether.

[2020-12-25 09:21] jackd commented on #340
Does the scope of tensorflow-graphics extend to other applications of [geometric deep learning](http://geometricdeeplearning.com/)? e.g. would it consider projects of non-graphics-specific GNN layer/project/datasets?

[2020-12-25 10:07] jackd opened #469 "build_rasterizer fails"
See e.g. [this failed CI test](https://github.com/tensorflow/graphics/pull/286/checks?check_run_id=1608017643) (the PR does not change anything to do with the rasterizer). Based on a very quick google I suspect it may be a bazel issue, but I don't know anything about bazel...

[2020-12-26 22:56] jackd opened #470 "tfds version constraint"
[tensorflow-datasets](https://github.com/tensorflow/datasets) requirement is currently pinned at 2.0.0. At one point this was necessary for `Modelnet40/pointnet` because ssl verification was necessary, but given that the latest release (4.1.0) allows verification to be turned off via [DownloadConfig](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/download/download_mana

[2020-12-28 08:41] themasterlink commented on #400
Any news on this?

Max

[2020-12-28 16:39] Awcrr commented on #400
Hi Max, I really sorry for this delay. It's been a busy and tough 6-month for me.

I'll get to this after the holiday. I think ETA of this script update can be Mid-January, like 15-20.

Hope this didn't cause too many troubles for you.

[2020-12-31 02:23] Enigma-li opened #473 "No chamfer distance in the installed tensorflow-graphics-gpu 1.0.0 package"
Hi,

I installed the tensorflow-graphics-gpu as instructed [here](https://tensorflow.google.cn/graphics/install), but this version does not contain the chamfer distance.

How to resolve this?

[2021-01-10 12:19] predator4hack commented on #337
hi @julienvalentin, can you guide me with some resources so that I can proceed to solve this issue.

[2021-01-14 14:22] mashaeidlina opened #479 "CvxNet: Can an autoencoder reconstruct an image exactly?"
Hi!
Thank you for your work!

In the paper I see that you show examples where 2D b/w images are used as the autoencoder input (Figure 3, page 4), so as the output you have object exactly reconstructed by the half-planes (lines in 2D space).

Tell me, please, whether such experiments were carried out? Does the network actually restore the shape exactly?

I am interested in this for the reason that

[2021-01-20 19:29] johanesmikhael commented on #473
Hello, I had the same problem too. I am using tf 2.4 python 3.6 in Windows 10 with gpu enabled. I installed tfg but I realized in nn module only layer module installed, metric and loss module are missing. Do I missed something?

[2021-01-22 04:01] melhousni commented on #473
Same problem here. Any fix??

[2021-01-25 10:30] gakusai opened #484 "No module named tensorflow_graphics.math.interpolation.trilinear"
Hello,

when I try to call the trilinear interpolation method I get the following error:

**ModuleNotFoundError: No module named 'tensorflow_graphics.math.interpolation.trilinear'**

After inspecting the interpolation module it shows, that there is no trilinear module provided:

`[..., ('bspline', <module 'tensorflow_graphics.math.interpolation.bspline' from '/usr/local/lib/python3.6/dist-packages

[2021-01-25 11:22] gakusai commented on #484
### Fix

You can import the trilinear module as follows:

`from tensorflow_graphics.math.interpolation.trilinear import  interpolate as your_name`

[2021-01-30 06:09] vibe007 commented on #465
I fixed this by re-writing the training script in Eager mode. Closing this Issue.

[2021-01-30 06:09] #465 closed

[2021-02-07 07:09] flynnamy commented on #340
Any updates about the face rasterizer demo?@julienvalentin @yifeif

[2021-02-24 16:14] themasterlink commented on #400
Is it better now?

Best,
Max

[2021-02-28 15:29] alimoeeny commented on #473
exact same problem here, any solutions?

[2021-03-04 22:07] nmerrill67 commented on #125
Here is a brief example I wrote to test how this is supposed to work. I assign a feature at [1 2 3], project it into two fake image planes, then back again with a depth of 1 for the ray end points. Then I triangulate and make sure the triangulated point is close to [1 2 3] and that the gradient exists. This is tested with tf 2.4
[code]

[2021-03-05 02:13] taiya commented on #400
@themasterlink the only two functions you need are these:

[code]

which are used in a control loop as:
[code]

This should be able to get you started.

[2021-03-05 03:03] taiya commented on #326
This was completed long time ago.

[2021-03-05 03:03] #326 closed

[2021-03-05 03:06] taiya commented on #479
Yes, the teardrop image can be restored in overfitting mode.

[2021-03-05 11:35] mashaeidlina commented on #479
Ok, so you trained model for few (or even one) images in overfitting mode and visualized results on training sample, didn't you?
If I understand everything correctly, then to me the reasoning about what exactly the autoencoder does inside itself seems unconvincing.

[2021-03-05 19:18] taiya commented on #479
Yes, this is just an illustration image (we didn't have a dataset of fonts at hands).
It's a one off and we fiddled with initialization until overfitting the model to it give something visually pleasant.

unconvincing? if you say so.

[2021-03-15 21:51] mahaling opened #532 "not able to view mesh custom dataset"
I am trying to create my own dataset of neuro organelles and created the tfrecords based on solutions posted here in the repo.
I am trying to view them through the mesh viewer (not through jupyter locally, but through colab notebook by uploading the tfrecords to google drive.). I am unable to view any of the meshes and I am getting only a black screen.
I have two classes in my mesh (0 and 1). I ca

[2021-03-17 22:47] shariq-audiofocus commented on #152
Thanks for fixing this, tfgraphics is pretty cool!

This issue is fixed when I install via `pip install tensorflow-graphics` but still exists when I install the GPU version `pip install --upgrade tensorflow-graphics-gpu` is that expected?

I would like to utilize my GPU, is there a way to install the gpu version with this fix?

[2021-03-18 22:03] shariq-audiofocus opened #535 "Update Install Docs to use 'setup.py' instead of build_pip_pkg.sh (which does not exist)."
Here:
- https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/g3doc/install.md

and here:
- https://www.tensorflow.org/graphics/install

it says use build_pip_pkg.sh to install but that file is not in the repository. Seems like the user should instead do `python setup.py`

Needed this to install on OSX.

Also I needed to install openexr manually from source (v2.5.5) for both Ubunt

[2021-03-22 15:36] podlipensky commented on #152
I believe`tensorflow-graphics-gpu` is deprecated. Is there a reason why you use that old version? Current `tensorflow-graphics` should work on GPU just fine.

[2021-03-22 16:02] shariq-audiofocus commented on #535
Also according to @podlipensky `tensorflow_graphics_gpu` is deprecated and should be removed from `README.md`

[2021-03-22 16:03] shariq-audiofocus commented on #152
@podlipensky ok, yeah I think `tensorflow-graphics` is using the GPU on my workload. Nowhere in the documentation does it say `tensorflow-graphics-gpu` is deprecated though. Added it to this other issue I raised about documentation: https://github.com/tensorflow/graphics/issues/535

[2021-03-24 01:30] shariq-audiofocus commented on #535
Also I had trouble with the OPENEXR installation so I had to install it from source and then tell the setup.py script to skip openexr. Here is my script in case it helps someone else. Requires one manual edit, see script. Safety not guaranteed:

[code]

[2021-03-24 03:11] yogeshhk opened #537 "Update install doc with instructions for Windows"
Failed to install tensorflow-graphics on Windows

OS: Windows 10 Enterprise, 2019, 64 Bit
Reference page: https://www.tensorflow.org/graphics/install
Command used: pip install --upgrade tensorflow-graphics
Errors:
[code]
Looks like installing OpenEXR is not Optional or for Linux, as specified at the  https://www.tensorflow.org/graphics/install

Getting OpenEXR installed via `pip install --upgrade

[2021-03-24 06:14] yogeshhk commented on #315
@mpmisko wish to know if you have started on this topic? If ok, I can join you and share/test the work. [cc: @julienvalentin]

[2021-03-25 04:58] mahaling commented on #532
I custom wrote the viewer class and made it work for my dataset.

[2021-03-25 04:58] #532 closed

[2021-03-31 22:46] mahaling opened #544 "Padding mesh data"
I am trying to train the mesh segmentation code here in tensorflow graphics with my own dataset. My dataset has some meshes with varying vertex count and edge count. I tried to zero-pad the vertices and faces array for each mesh so that all the meshes in my dataset will have the same number of vertices and faces.

However, I am running into issue of
1. not able to view the mesh from the colab ipyt

[2021-04-01 15:20] yogeshhk commented on #544
Zero padding Mesh data with 0 looks incorrect to me, as "0" itself is a valid mesh vertex value. Its not like padding in language-vector sequences with "-1". Any numerical value for mesh padding looks wrong to me. Any comments, corrections, suggestions?

[2021-04-01 15:44] mahaling commented on #544
Thanks for that reply.. do you think you can shed some light on how to do the padding right?. Thanks!
I kind of feel this is trivial, but somehow I am not able to get the proper definition of "zero-padding" from different libraries that I looked so far.

[2021-04-01 16:50] mahaling commented on #544
On a second look I think I don't need to pad the data but should be taken care of by the dataset loader. I am able to view the meshes using the mesh_viewer class and that sounds about right to me w.r.t. data preparation.
With is non-padded input data, the network training loss keeps fluctuating and the models that come out of this training seem to have learned nothing.
I have tried varying the lea

[2021-04-08 16:40] mahaling opened #549 "Mesh segmentation dataio"
The mesh segmentation dataio.py file is defaulting to size [V,3] for vertices, while it can be generalized to any number of features.

Just proposing so that someone can generalize this. Or I can put in a PR.

[2021-04-23 03:14] msokoloff1 commented on #473
Use: from tensorflow.graphics.nn.loss import <loss fn>

[2021-06-07 09:36] firatozdemir opened #580 "Source install instructions outdated"
Current latest stable release (v.1.0.0) is too outdated and has bugs which are fixed in the master branch.

I'm attempting to install from source, but the [instructions](https://github.com/tensorflow/graphics/blob/master/tensorflow_graphics/g3doc/install.md) are possibly outdated.
I tried:
[code]
which did not give any errors, and I can import library and get `tfg.__version__='2021.6.7'`, however

[2021-06-21 05:46] #400 closed

[2021-06-24 08:20] mlengsi opened #593 "Simple render"
Is there a way to simply render a mesh to an image given field of view and other scene parameters?

[2021-07-03 03:45] uestcjackey commented on #56
@podlipensky  Hi, have you done this for add Jupyter support or other plot ways just like pytorch did

[2021-07-03 03:49] uestcjackey opened #603 "How to render a mesh to Silhouette?"
I'm interesting about use a rendered sihouette or texture to cal loss for 3D construction, but it seems  that the tf-graphics dont have these functions. Can you pls give any advice or do you have any plan to develop this? Thanks.

[2021-07-25 20:38] m4ttr4ymond opened #625 "`tensorflow_graphics.shape.check_static(...)` throwing error in TF2"
I was writing a data augmentation layer for a PointNet implementation and ran into what appears to be a bug in `tensorflow_graphics.shape.check_static(...)`, as seen on [this](https://github.com/tensorflow/graphics/blob/e03fb62b8ee15a026bde7e27e4f3aa5ebc9413a1/tensorflow_graphics/geometry/transformation/rotation_matrix_3d.py#L210) line.

Offending layer:
[code]

Error message:
[code]

It appears t

[2021-07-27 08:09] robot0321 opened #627 "Partnet segmentation experiments"
Hi, now I'm trying to evaluate the segmentation performance with PartNet as Figure 11 in the paper.

However, I'm confused about the details. for example, how to calculate the "accuracy" of the points? is it depends on the labels from BAE?
When I downloaded the PartNet dataset, there are no labels like back, arm, base, seat, etc...

Could you explain how to get the numbers? or could you upload exp

[2021-07-27 22:35] maweigert opened #629 "documenation of num_levels in tfg.image.pyramid.downsample"
Hi,

The [documentation of tfg.image.pyramid.downsample](https://github.com/tensorflow/graphics/blob/cdbc190e5c04efac7a48d7bc5dfa427598849a24/tensorflow_graphics/image/pyramid.py#L153-L178) states it to return  "A list containing `num_levels` tensors" but it actually returns a list containing `num_levels+1` tensors

[code]

[2021-07-28 12:55] akloss commented on #593
I would also be interested in a simple rendering tutorial that shows how to go from object mesh (possibly with texture), object pose and camera parameters to an image!

[2021-08-13 00:02] taiya opened #641 "tensorflow_graphics.datasets.modelnet40"
Security certificate on the Stanford side is expired, so auto-download of resources fails.

Major hack to get it working in the meantime:
1) download `https://shapenet.cs.stanford.edu/media/modelnet40_ply_hdf5_2048.zip` manually
2) in the download folder, start a server with `python3 -m http.server 8080`
3) modify _URL in `tensorflow_graphics/datasets/modelnet40/modelnet40.py`to be `_URL = 'http:/

[2021-08-13 00:14] jackd commented on #641
Pretty sure this can be resolved using `tfds.download.DownloadConfig` with `verify_ssl=False`.

[2021-08-13 00:27] taiya commented on #641
If the error message would have told me that, I would have saved 1h of my time :)
Just left a trace for others that might run into this.

[2021-08-19 14:39] DLPerf opened #642 "Performance issue in the definition of render_splat, tensorflow_graphics/rendering/tests/splat_test.py"
Hello, I found a performance issue in the definition of `render_splat`, tensorflow_graphics/rendering/tests/splat_test.py, [tf.reduce_mean in line 160 and 162](https://github.com/tensorflow/graphics/blob/3c0b664d04af574225c5aeaea41478a43493aaff/tensorflow_graphics/rendering/tests/splat_test.py#L160) will be calculated repeatedly during program execution. I think it should be created before the loo

[2021-08-30 18:27] fcole commented on #642
Hi there, I'm not sure I follow where the issue is in this test. A PR to fix it would help clarify, for sure!

[2021-10-04 18:40] topinfrassi01 commented on #81
It does work as intended, but the documentation isn't updated to reflect this change : https://www.tensorflow.org/graphics/tensorboard

It's currently pretty much impossible to know about this change unless you stumble upon this issue.

[2021-10-07 07:25] gengdai opened #650 "inverse_rendering.ipynb does not work on google colab"
Hi

I tried the notebook example of inverse_rendering on colab, but when the optimization starts, I got the following error:

ImportError                               Traceback (most recent call last)
/usr/local/lib/python3.7/dist-packages/tensorflow_graphics/rendering/opengl/rasterization_backend.py in <module>()
     25 try:
---> 26   from tensorflow_graphics.rendering.opengl import gen_rasteri

[2021-10-12 08:26] zhmlcg opened #652 "After install and uninstall in my user space, "import tensorflow as tf" crashes"
I installed TensorFlow Graphics on a Linux node. Since I am not the super user, pip installed TensorFlow Graphics to my user space. Then I uninstalled it using pip uninstall command. But after that, "import tensorflow as tf" crashes with error message "Segmentation fault (core dumped)". Can you please help me solve this problem? Please let me know what information you need for troubleshooting. Tha

[2021-10-17 06:18] #652 closed, assigned to nobody

[2021-10-17 06:18] zhmlcg commented on #652
I solved it.

[2021-10-26 11:18] piyushsingh2k7 opened #655 "from tensorflow_graphics.util import export_api ImportError: No module named tensorflow_graphics.util Can someone tell how to resolve this ?"

[2021-11-02 14:18] solitaryangler opened #656 "rasterizer_op.so: undefined symbol"
Hi,

sincere thanks for developing this TF module. I use TF quite a bit but this is my first time with TF_graphics. I am getting the following error when trying to run `inverse_rendering.ipynb` locally on my machine - in particular this occurs in the `Run Optimization` cell:

[code]

My environment:
[code]
What am I missing out? Your help will be greatly appreciated!
Thanks again for this superb e

[2021-11-02 14:24] solitaryangler commented on #656
I just realised that a similar problem was stated here - but for Google colab (same notebook - `inverse_rendering.ipynb`):

https://github.com/tensorflow/graphics/issues/650

[2021-11-05 03:12] gitlabspy commented on #342
how about tfg-nightly-gpu?

[2021-11-05 03:15] solitaryangler commented on #656
Hi I was able to resolve this issue more or less. I thought of including my experience here for others while closing the issue.

The ticket that helped resolve my issue was: #535
* Note-1: I had to use the `--force-reinstall` flag while `pip` installing `tensorflow_graphics` to ensure that all dependencies were _actually updated_ (including TF versions).
* Note-2: `tensorflow-graphics-gpu` is appa

[2021-11-05 03:15] #656 closed

[2021-11-05 04:06] taiya commented on #342
There's no difference between the two packages any longer.

[2021-11-05 06:01] gitlabspy opened #657 "newer version with gpu support?"
use pip install tensorflow-graphics-gpu to install tfg-gpu gets a very old version of tfg. I wonder if there is a way to install newer version  of tfg-gpu.

[2021-11-06 16:44] solitaryangler commented on #657
`tensorflow-graphics-gpu` is apparently deprecated: #152

You only need to install `tensorflow-graphics`

[2021-11-11 13:09] codestella opened #658 "When the official sharf code is released?"
Hello, Thank you for your great work.
I am waiting for official sharf code on the tensorflow graphics.
Could you tell me the brief schedule considering?
It would be a lot of help for me.

[2021-11-13 05:20] #657 closed

[2021-11-14 01:47] dvbuntu commented on #473
The `loss` module was only added in [early 2020](https://github.com/tensorflow/graphics/blame/master/tensorflow_graphics/nn/loss/chamfer_distance.py#L26-L89), so it's not in the prebuilt `pip` version (dated May 2019).  You can try to install the most recent version with [`https://pypi.org/project/tensorflow-graphics/2021.10.21/`](https://pypi.org/project/tensorflow-graphics/2021.10.21/)

[2021-11-26 10:35] HotThoughts commented on #580
I got the same error when trying to use the `geometry` module.

Example:
[code]

BUT, if I import `geometry` directly, e.g.,
[code]

No error. Gives me the rotation matrix.

[code]

[2021-12-02 03:17] naufalso commented on #650
I tried to run the notebook using collab for CPU and GPU, but it still does not work (season crashed / runtime restarted when running run optimization cell).

What should the exact version for TF, TF AddOns, and tensorflow_graphics  to run this notebook?

Thank you

[2021-12-04 03:56] fcole commented on #650
I've pushed a change that uses a sampling op for texture_map that uses only pure-TF ops, and updated the tensorflow_graphics pypi package. For me now the Colab runs successfully in CPU and GPU mode and it should be more robust to version mismatches in the future. I will close this issue now but please reopen if you continue to have problems.

[2021-12-04 03:56] #650 closed

[2021-12-07 01:52] areiner222 opened #670 "Cannot load rasterizer_op.so on OSX"
I am getting the following error when I try to use the opengl or CPU backends of rasterize:

When I run `import tensorflow_graphics.rendering.opengl.rasterization_backend` I get

tensorflow.python.framework.errors_impl.NotFoundError: dlopen(/Users/xxxxxx/miniconda3/envs/xxxxx/lib/python3.8/site-packages/tensorflow_graphics/rendering/opengl/rasterizer_op.so, 0x0006): tried: '/Users/xxxxx/miniconda3

[2021-12-16 13:41] topinfrassi01 commented on #446
The Chamfer loss function doesn't require the two meshes to have the same number of vertices, so you could use that as a start.

In general, Tensorflow doesn't care if the predictions and the ground truth don't have the same shape, but most losses expect it.

[2022-01-02 21:38] Eastmanmd commented on #473
Was this problem fully resolved ? I tried installing the most recent version and I am still having the same problem when trying to use chamfer distance.

[2022-01-04 09:13] luosiallen opened #674 "Local Implicit Grid TSDF Data download & Part AutoEncoder Training Code"
Can you provide the download link of TSDF training data  or data preprocess code?
I want to re-train the Part AutoEncoder, can you also provide the Part AutoEncoder training code, thanks !!

[2022-01-15 22:24] areiner222 commented on #670
Checking back in on this - any recommendations ?

[2022-01-25 13:56] liyanzu0926 opened #682 "AttributeError: module 'tensorflow_graphics.rendering.camera.perspective' has no attribute 'random_rays'"
when prepare the rays report errors

[2022-01-25 17:35] #682 closed

[2022-01-27 15:56] yeshwanth95 opened #683 "CVXNet Training with custom data."
Hi @Awcrr
I'm trying to reimplement the cvxnet model in pytorch and train for a custom dataset of images. I intend to do single view reconstruction but for the 2D case i.e output 2D polygons/shapefiles instead of 3D meshes. I have a custom dataset of images and corresponding gt raster seg masks. Can you please tell me how to preprocess this data for training with cvxnet?

In particular, I'm confus

[2022-02-07 01:35] solitaryangler commented on #603
Hi, I'm also looking for this solution. Did you find anything relevant?

Any help will be appreciated.

Developers?

Thank you.

[2022-03-01 00:27] ma7555 commented on #641
@jackd

Trying with the below code still throws SSL error

[code]

[2022-03-03 18:52] MotivaCG opened #684 "TypeError: Input 'shape' of 'ScatterNd' Op has type int64 that does not match type int32 of argument 'indices'."
Trying to test Local Implicit sample I've found this issue:

[code]

Any tip on this?

Thank you in advance.

[2022-03-04 17:00] NicolayP commented on #625
Any update on this, get the same error. Here is the simplest code that triggers the error.

[code]

This triggers the same error as @m4ttr4ymond

[2022-03-08 07:23] uestcjackey commented on #603
I found some project developed by Pytorch3D, which has differential render, I'm not sure how to do this in tensorflow

[2022-03-08 10:12] solitaryangler commented on #603
Thanks @uestcjackey , I also considered PyTorch3D but finally selected NVidia's Kaolin.

[2022-03-20 08:55] ma7555 opened #685 "Adding preprocessing functions for pointclouds"
Hello,

I have implemented various preprocessing functions in tensorflow, compatible with `tf.data.Dataset`  API for augmenting pointclouds including `jitter`, `random_cutout`, `random_translation`, `random_rotation`, `random_zoom`, etc..

I was curious to know if they would fall in the scope of tfg so I could submit a PR.

These could be implemented as augmentation layers just like `keras-cv` aug

[2022-03-24 19:35] danperazzo commented on #670
Hello everyone, I have the same problem, but on WIndows

[2022-05-14 09:23] dmho418 opened #690 "PyPI release broken"
How to reproduce:

- `pip install tensorflow-graphics`: this installs version `2021.12.3`.
- Run `python -c "import tensorflow_graphics as tfg; tfg.image"`
- It returns `AttributeError: module 'tensorflow_graphics' has no attribute 'image'`.
- Do `pip install tensorflow-graphics==1.0.0` and it works as expected.

[2022-07-07 02:23] gjf281 opened #692 "The generated model has a lot of holes"
I am testing the algorithm with my own point cloud data. I meet a strange problem which is the generated model has a lot of holes.
![image](https://user-images.githubusercontent.com/7101742/177676268-12944d34-ba6a-41b7-8956-cf72c11e926b.png)
The input cloudpoint is below
![image](https://user-images.githubusercontent.com/7101742/177676384-7ccbad5e-930b-4e94-80b2-05f5624f0323.png)

Do you know why

[2022-09-05 02:55] csbrown opened #694 "quaternion matmul function"
Would be nice to have a matmul function in the [quaternion](https://www.tensorflow.org/graphics/api_docs/python/tfg/geometry/transformation/quaternion) library.  I'm willing to implement and emulate the existing style in the quaternion library.

Something like:

[code]

[2022-09-05 02:56] csbrown commented on #694
Any support for this?

[2022-09-14 08:54] chpark1111 opened #697 "CVX-Net Pretrained model release"
Hi!
Thanks for your wonderful work!

I'm curious when you guys will release the pre-trained models!

I'm doing a research related to such topic and I'll really appreciate if you can release the pre-trained models!

[2022-09-15 20:27] Awcrr commented on #697
Hi Chanhyeok,

I'm Boyang, one of the authors of CvxNet.

The biggest problem with releasing the pre-trained models is the license constraint of ShapeNet Data and its derivatives, in our case the models trained on ShapeNet.

Another way we can help you is that if you have specific examples in shapenet that you want to show the cvxnet results in your paper, we can send you those, only for academic

[2022-09-27 07:58] chpark1111 commented on #697
Thanks for the fast respond!
I'll send you those emails when we need it!

Sincerely,
Chanhyeok

[2022-09-28 21:24] Awcrr commented on #697
You can find my email on my [webpage](https://boyangdeng.com/).

Can you please close this issue for now?

[2022-09-29 03:30] #697 closed

[2022-09-29 05:55] jrmendeshurb4 opened #699 "issue"

[2022-09-29 05:55] #699 closed

[2022-10-04 17:22] jrmendeshurb4 opened #701 "That's an interesting idea, but I let @julienvalentin comment here."
That's an interesting idea, but I let @julienvalentin comment here.
I do not use notebooks, nor will I ever :)

_Originally posted by @taiya in https://github.com/tensorflow/graphics/issues/302#issuecomment-639772237_

[2022-10-12 18:54] jenkspt opened #703 "New release with opengl rasterization"
Can we get a new release that includes the OpenGL rasterization?

[2022-10-27 20:29] jenkspt opened #704 ""undefined symbol" error when trying to import opengl rasterize"
Environment:
python==3.10
tensorflow==2.10.0
tensorflow_graphics==2022.9.6

Ubuntu 20.04.5 LTS
CUDA Version: 11.8
Driver Version: 520.61.05

[code]

[2022-11-30 22:49] Km3888 opened #706 "Colab demo for Neural Voxel Renderer is broken"
The colab [demo](https://colab.research.google.com/github/tensorflow/graphics/blob/master/tensorflow_graphics/projects/neural_voxel_renderer/demo.ipynb) for network inference given in the ReadMe under projects/neural_voxel_renderer appear to rely on a voxel package that no longer exists.

It throws the following error:

`ModuleNotFoundError: No module named 'tensorflow_graphics.rendering.voxels'
`